
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


html,
body {
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

nav {
  align: center;
  padding: 2.5em;
}

nav a {
 font-size: 1.5em;
 font-style: normal;
 text-decoration: none;
 color: black;
 vertical-align: left;
 text-align: left;
 z-index: 2;
 padding-left: 2em;
 padding-right: 2em;
}


#maincontent {
  flex: 1 1 auto;
  /* The above is shorthand for:
  flex-grow: 1, this is about ratio this works because header is 0
  flex-shrink: 1,
  flex-basis: auto
  */
  background-color: gray;
}
