@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

h4{
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;

}

.menu{
  padding-top: 2rem;
}

p{
  overflow: visible;
  margin: 0px;
  padding: 1em 0em;
}


div.underlineBooking{
  background-color: #2881FF;
  height: 3px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20em;
}


section.maincontent{

  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: #FAFAFA;
  padding-left: 12vw;
  padding-right: 12vw;

}

h1{
  margin: 0;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 20px;
}

h2{
  margin:0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
}

hr{
  color: black;
  margin: 3px;
  width: 106%;
  transform: translateX(-3%);
  border: 0;
  background-color:#000000FF;
  height: 1px;
}

section.formsection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

section.bookingInput{
  display:flex;
  gap: 10px;
  flex-direction: column;
  width: 45%;

}

label{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: black;
}

input{
  height: 35px;
  border-radius: 6px;
  border: 1px solid #000000;;
  font-family: 'Raleway';
  font-style: 300;
  font-weight: 500;
  font-size: 22px;
}

textarea{
  width: 100% ;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  resize: vertical;
}

select.payment{
  background: #F5F4F4;
  border: 1px solid #000000;
  border-radius: 6px;
  height: 40px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: black;
}

#submitButton{
 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  width: 150px;
  height: 40px;
  background: #2881FF;
  border-radius: 16px;
  border: none;
}

#submitButton:hover{
  cursor: pointer;
}

#submitbuttonwrapper{
  display: flex;
  justify-content: center;
}

div.orderdatawrapper{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

a:visited{
  color: black;
}

#collectionPostcode{
  text-transform: uppercase;

}

#deliveryPostcode{
  text-transform: uppercase;
}

select{
  background-color: #F5F4F4;
  height: 35px;
  border-radius: 6px;
  border: 1px solid #000000;;
  font-family: 'Raleway';
  font-style: 300;
  font-size: 22px;
}

.disclaimer{

  font-size: large;
  text-align: center;

}


@media (max-width: 850px){
  .maincontent{
    padding: 20px 6vw !important
  }

}

@media (max-width: 600px){

  section.formsection{
    display: flex;
    
  }

  section.bookingInput{
    width: 100%;
  }

  .animalDescriptionTable{
    max-width: 90%;
  }
  
}

.hidden{
  display: none;
}

.loader {

  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #2881FF; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s cubic-bezier(0.51, 0.24, 0.59, 0.8) infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}