@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');




html,body{
  height: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


.box .row {
  border: 1px dotted grey;
}

div.body{
  display: flex;
  flex-direction: column;
  height: 100%;
}


div.contentmanagermaincontent{
  height: 100%;

}

#contentmanagernav{
  padding: 30px;
}

#contentmanagernav > a{
 
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2em;

  text-decoration: none;
  color: black;
  text-align: left;
  z-index: 2;
  padding-left: 11px;
  padding-right: 11px;
}

#contentmanagernav > a:hover{
  color: grey;
}

div.contentmanagerwrapper{
  height: 100%;
  position: relative;
  display: grid;
  background-color: blue;
  transition: none;
}

div.objecttreewindow{
  background-color: white;
  overflow-y: scroll;
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2em;
}

div.editablepage{
  border-left: solid 1px black;
  border-right: solid 1px black;

  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(244, 244, 244);
  
}

div.attributeeditor{
  background-color: pink;
  
}


div.draggable{
  width: 4px;
  height: 100vh;
  position: absolute;
  background-color: black;
  z-index: 1;
}

div.leftdraggable{
  top: 0;
  transform: translateX(50%);
  background-color: #00000000;
  cursor: ew-resize;
}

div.rightdraggable{
  top: 0;
  transform: translateX(50%);
  background-color: #00000000;
  cursor: ew-resize;
}


div.content{

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  position: absolute;
  width: 1920px;
  transform-origin: top right;
  overflow: visible;
}

div.selectpagewrapper{
  padding: 10px;
}

select.selectpage{
  font-size: 18px;
}

.root{
  padding: 0;

}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

li > div{
  border-bottom: solid 1px black;

}

ul{
  margin: 0px;
  padding-left: 0px;
}

.listitemselected{
  background-color: lightgrey;
}

div.objecttree{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

div.expandablelist{
  cursor: pointer;
}

.nested{
  display: none;
}

.objecttreehoveroutline{
  /* box-sizing: border-box; */
  outline: solid 3px rgb(64, 170, 206);
  box-shadow: 0px 0px 5px rgb(64, 170, 206);
}

.objecttreeselectoutline{
  /* box-sizing: border-box; */
  outline: solid 8px pink;
  box-shadow: 0px 0px 10px pink;
}

.rightclickmenu{
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

  z-index: 2;
  border-radius: 3px;
}

.hidden{
  display: none;
}

.rightclickmentunorderedlist{
  padding-left: 40px;
}

.listwrapper{
  position: absolute;
  top: 0px;
  left: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  /* box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); */
}

.list{
  position: relative;

}

.menuitem:hover{
  background-color: rgb(242, 242, 242);
}

.menuitem{
  white-space: nowrap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 5px;
}




