@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.underlineOrder{
    background-color: #2881FF;
    height: 3px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 20em;
}

html,body{
    margin:0;
}

body{
    background: #f9f9f9;
    padding-bottom: 250px;
}

nav{
    box-shadow: 0px 0px 15px #00000022;
}

.bubble{
    margin-top: 50px;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #00000022;
}

#maincontent{
    margin:50px 6vw;
}

h1{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.toprow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
    background-color: #2881FF;
    border-color: #2881FF;
    border-radius: 10px;
    border-style: solid;
    color: white;
    padding: 9px 22px;

    cursor: pointer;
}

button:hover{
    color:#2881FF;
    background-color: white;
}

hr{
    color: black;
    margin: 15px 3px;
    width: 102%;
    transform: translateX(-1%);
    border: 0;
    background-color:#000000FF;
    height: 1px;

}

label{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
}

.forminput{
    display: flex;
    margin: 15px 0px;
    
    flex-direction: column;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    
}

.paymentinfo{
    display: grid;
    justify-content: flex-start;  
    column-gap: 50px;
    grid-template-columns: 1fr 2fr;
}

input{
    height: 35px;
    border-radius: 6px;
    border: 1px solid #000000;;
    font-family: 'Raleway';
    font-style: 300;
    font-size: 22px;
}

textarea{
    border-radius: 6px;
    border: 1px solid #000000;;
    font-family: 'Raleway';
    font-style: 300;
    font-size: 22px;
    resize: vertical;
}

label{
    margin-bottom: 5px;
}

select{
    background-color: #F5F4F4;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-family: 'Raleway';
    font-style: 300;
    font-size: 22px;
}


.columns{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 12fr 8fr 4fr 1fr;
    gap: 20px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    transition: max-height 0.5s ease-in-out;
    /* transition: margin-top 0.5s ease-in-out; */
    
}

h3{
    margin: 0;
}

.tablerow{

    position: relative;

    font-family: 'Raleway';
    font-style: 500;
    font-size: 18px;

    padding: 0px 50px;
    padding-top: 1px;
    padding-bottom: 26px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px #00000022;

    margin-bottom: 10px;

}

.headerrow{
    padding-top: 26px;
}

.space{
    height: 20px;
}

.expand{
    position: absolute;
    right:50px;
    top: 19px;

    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #00000055;
    padding:5px;
    width: 25px;
    height: 25px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.relativetop{
    position: absolute;
    top:0;
}

.hide{
    transform: rotate(180deg);
    transition: ease-in 0.2s;
}

.hidefont{
    opacity: 0;
    transition: none;
}

p{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.expand:hover{
    background-color: #F5F4F4;
}


p{
   
    font-weight: 500;
    font-size: 18px;
    margin:0;
    padding: 0;
    overflow-wrap: anywhere;

}

.hidden{
  
    overflow: hidden;
    z-index: -2; 
    max-height: 0px !important;
    margin-top: 0px !important;
    transition: max-height 0.5s ease-in-out;
    /* transition: margin-top 0.5s ease-in-out; */
    
}

.collectioninfomargin{   
    margin-top: 25px !important;
}

.deliveryinfomargin{
    margin-top: -25px;
    margin-bottom: 0px;
    transition: margin-top 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;

}

i{  
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 1px 0px;
    margin-right: 10px;
}

.fa-ellipsis-vertical{
    transform: translateX(50%);
}

.extrainfo{
    display: grid;
    grid-template-columns: 12fr 6fr 18fr 1fr;
    /* margin-top: 20px; */
    max-height: 200px;
    transition: max-height 0.5s ease-in-out;
    /* transition: margin-top 0.5s ease-in-out; */

}

.extrainfo > div{
    display: flex;
}

.deletewrapper{
    position: absolute;

    top:50%;
    transform: translateY(-50%);
    /* transform: translateX(50%); */
    right:50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    box-shadow: 0px 0px 5px #ff0000ff;
    color: red;
}

.deletewrapper:hover{
  background-color: red;
  color:white
}

.fa-trash-can{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.transporticons{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    /* min-height: 67px; */
}


.profiledata{
    font-family: 'Raleway';
    font-style: 500;
    font-size: 22px;

    margin: 20px 0px;
}

.quickcollectionaddresswrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#collectionaddressarrow{
    transition: transform 0.25s ease-in-out;
}

.rotate90anticlockwise{
    transform: rotate(-90deg);
    transition: transform 0.25s ease-in-out;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hinttext{
    padding-left: 5px;
    color: rgb(160, 160, 160);
}

#basket{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}

.comma{
    margin-right: 5px;
}


#submitorders{
    
    margin: auto;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
    background-color: #2881FF;
    border-color: #2881FF;
    border-radius: 10px;
    border-style: solid;
    color: white;
    padding: 9px 22px;

    cursor: pointer;
    height: fit-content;
}

#collectionpostcode{
    text-transform: uppercase;
}

#deliverypostcode{
    text-transform: uppercase;
}
.onelineaddress{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  
}


@media(max-width: 1250px){
    .expand, .deletewrapper{
        right: 26px !important;
    }

    .tablerow{
        padding-left: 30px !important; 
        padding-right: 30px !important; 
    }
}

@media(max-width: 1200px){
    .columns{
       gap: 10px; 
    }
    
}

@media (max-width: 1150px) {

    .columns{
        grid-template-columns: minmax(100px, 4fr) minmax(100px, 4fr) minmax(100px, 4fr) minmax(250px, 12fr) minmax(200px, 8fr) minmax(100px, 4fr) minmax(20px, 1fr) !important;
    }

    .tablerow{
        margin-left: 6vw;
        margin-right: 6vw;
        width: fit-content;
    }

    .bubble{
        margin-right: 6vw;
        margin-left: 6vw;
    }

    #basket > h1{
        margin-left: 6vw;
    }

    #table{
        overflow-x: scroll;
    }

    #maincontent{
        margin: 50px 0px;
    }

    .info{
        grid-template-columns: 1fr 1fr;
      
    }

    .quickcollectionaddresswrapper > p{
        font-size: 15px !important;
    }

    .flex > p{
        font-size: 13px ;
    }

    label{
        font-size: 17px !important;
    }

    h1{
        font-size: 23px !important;
    }

    h3{
        font-size: 19px !important;
    }

    .forminput{
        margin: 10px 0px !important;
    }
    .extrainfo{
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        row-gap: 15px;

    }

    .expand, .deletewrapper{
        right: 15px !important;
    }

    p{
        font-size: 17px !important;
    }

}

@media (max-width: 1000px){


    .headerrow{
        font-size: 17px !important;
   
    }

    .transportinfowrapper > p{
        font-size: 16px !important;
    }


}


@media (max-width: 740px){

    label{
        font-size: 15px !important;
    }

    h1{
        font-size: 20px !important;
    }

    h3{
        font-size: 17px !important;
    }

    p{
        font-size: 15px !important;
    }

    .quickcollectionaddresswrapper > p{
        font-size: 12px !important;
    }

    .collectionaddressdetailswrapper, #quickAddressName, #quickAddressEmail, #quickAddressTelephone{
        display: none !important;
    }

    #collectionaddressarrow{
        font-size: 15px !important;
    }

    .profiledata{
        margin: 5px 0px !important;
    }

    hr{
        margin: 5px 3px !important;
    }


    input, #payment{
        height: 25px;
        font-size: 16px;
    }

    textarea{
        font-size: 16px;
    }

    .forminput{
        margin: 7px 0px !important;
    }

    button{
        font-size: 15px !important;
        padding: 5px 10px !important;
    }

    .info{
        column-gap: 20px !important;
    }
}

@media (max-width: 600px){

    .quickcollectionaddresswrapper{
        gap: 5px !important;
        font-size: 10px !important;
    }

    .expand, .deletewrapper{
        width: 20px !important;
        height: 20px !important;
    }

    .expand{
        top: 12px !important;
    }

    .bubble{
        margin-top: 25px !important;
        padding: 30px !important;
    }

    button{
        font-size: 12px !important;
        padding: 6px 10px !important;
    }

    .tablerow{
        padding-bottom: 13px !important;
    }

    .headerrow{
        padding-top: 13px !important;
    }

}

@media (max-width: 510px){

    h1{
        font-size: 18px !important;
    }

    #textarea{
        font-size: 12px;
    }

    .info{
        grid-template-columns: 1fr !important;
    }

    .paymentinfo{
        grid-template-columns: 1fr !important;
    }

    #maincontent{
        margin: 0px 0px;
    }
}

#submitbuttonwrapper{
    display: flex;
    justify-content: center;
}

.hidesubmitbutton{
    display: none;
}

.loader {

    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #2881FF; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s cubic-bezier(0.51, 0.24, 0.59, 0.8) infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}