*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html,
body {

  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2em;
}

