
div.underlineHome{
  background-color: #2881FF;
  height: 3px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20em;
}

html,body{
  width: 100vw;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.menu{
  padding-top: 2rem;
}

h1{
  margin:0;
}

section.maincontent{
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-grow: 1;
}

div.arrow{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: white;
  text-shadow: 0px 0px 5px #000000;
}

div.arrow:hover{
  text-shadow: 0px 0px 25px #000000;
  cursor: pointer;
}

h1.carouselslidetext{
 
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  font-size: 3.5em;
  color: #FFFFFF;
  text-shadow: 0px 0px 13px #000000;

}

div.button{
  text-shadow: none;
  background: #FFFFFF;
  padding: 0.6em 1em;
  border-radius: 1em;
  font-size: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  box-shadow: 0px 0px 15px #000000;
  width: fit-content;

}

a{
  text-decoration: none;
}

div.contactus{
  margin-left: 0.3em;
  margin-right: 1em;
  background-color: black;
  color: white;
}

div.contactus:hover{
  margin-left: 0.3em;
  margin-right: 1em;
  background-color: white;
  color: black;
}

div.booknow{
  background-color: white;
  color: black;
}

div.booknow:hover{
  background-color: black;
  color: white;
}

div.buttonwrapper{
  position: absolute;
  display:flex;
  bottom:145px;
  left: 200px;
}

div.homepageinfo{
  padding: 4em 12vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2{
  margin: 0;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 0.3em;

}

h3{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 1em;
}

h4{
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;

}

h4:last-child{
  margin-bottom: 0;
}

hr{
  margin-top: 0;
  transform: translateX(-5%);
  border: 0;
  width: 110%;
  background-color:#000000FF;
  height: 1px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

div.carousel{
  position: relative;
  height: 650px;
  width:100%;
  margin: 0 auto;
  overflow: hidden;
}

img.carouselimage{
  height:100%;
  width: 100%;
  object-fit: cover;
}

div.carouseltrackcontainer{
  height:100%;
}

ul.carouseltrack{
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

li.carouselslide{
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
}

div.leftarrowwrapper{
  position: absolute;
  left: 0;
  margin-left: 1em;
  top:50%;
  transform: translateY(-50%); 
}

div.rightarrowwrapper{
  position: absolute;
  margin-right: 1em;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}

a:visited{
  color: black;
}

div.carouseltextwrapper{
  display: flex;
  align-items: center;
  position: absolute;
  top:80px;
  left:200px;
  height: 330px;
  width: 40%;
}

@media (max-width: 1100px){
  .carouselslidetext{
    font-size: 50px !important;
    margin-left: 20px;
  }

  .rightarrowwrapper, .leftarrowwrapper{
    margin: 0px 20px !important;
  }

  .buttonwrapper,.carouseltextwrapper{
    left: 100px !important;
  }
}

@media (max-width: 950px){
  
 
}

@media (max-width: 850px){
  .buttonwrapper{
    bottom: 100px !important;
  }

  .button{
    font-size: 25px !important;
  }

  .carousel{
    height: 500px !important;
  }

  .carouselslidetext{
    font-size: 40px !important;
    margin-left: 16px;
  }
  
  .carouseltextwrapper{
    top: 50px !important;
    width: 55% !important;
  }

  h2{
    font-size: 28px !important;
  }

  h3{
    font-size: 26px !important;
  }

  h4{
    font-size: 24px !important;
  }

}


@media (max-width: 600px){

  .rightarrowwrapper, .leftarrowwrapper{
    margin: 0px 10px !important;
    font-size: 50px !important;
  }

  .buttonwrapper,.carouseltextwrapper{
    left: 70px !important;
  }

  .carouselslidetext{
    font-size: 35px !important;
    margin-left: 10px;
  }

  .carouseltextwrapper{
    width: 60% !important;
  }


  .button{
    font-size: 20px !important;
  }

  h2{
    font-size: 26px !important;
  }

  h3{
    font-size: 24px !important;
  }

  h4{
    font-size: 22px !important;
  }

}

@media (max-width: 475px){

  .carousel{
    height: 300px !important;
  }

  .button{
    font-size: 14px !important;
  }
  .carouselslidetext{
    font-size: 24px !important;
    margin-left: 2px;
  }

  .rightarrowwrapper, .leftarrowwrapper{
    margin: 0px 3px !important;
    font-size: 24px !important;
  }

  .carouseltextwrapper{
    top: 35px !important;
    height: 200px !important;
    width: 65% !important;
  }

  .buttonwrapper,.carouseltextwrapper{
    left: 40px !important;
  }

  .buttonwrapper {
    bottom: 55px !important;
  }

  h2{
    font-size: 24px !important;
  }

  h3{
    font-size: 22px !important;
  }

  h4{
    font-size: 20px !important;
  }

}