
#driversWindow{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}

gmp-map{
    flex: 1;
    /* min-width: 0; */
}

.driverInfoCard{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 9px;
    filter: drop-shadow(2px 3px 8px #00000040);
    font-style: normal;
    font-family: "Inter", serif;
    line-height: 1em;
}

.selectedDriverInfoCard{
    background-color: #D9FCFF;
}

.driverInfoCardList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
    

.windowTitle{
    color: #000000;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    
}

.driverStatus, .runInfoTitle{
    font-size: 20px;
    font-weight: 300;
}

.green{
    color: #3CBD00;
    
}

.runInfo{
    font-size: 24px;
    font-weight: 500;
    text-wrap: wrap;
}

.runName{
    font-size: 24px;
    font-weight: 600;
}

.row{
    width: 371px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: start;
   
}

.flexOne{
    flex: 45%;
}

.flexTwo{
    flex: 55%;
}


.driverName{
    font-size: 24px;
    font-weight: 400;
}

.driverStatus{
    padding-left: 7px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.noGap{
    gap: 0px !important;
}

.alignItemsCenter{
    align-items: center;
}

h1{
    margin: 0;
}

p{
    margin: 0px;
}
