*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    margin: 0;
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 2em;
    height: 100vh;
    max-height: 100vh;  

}

body{
    display: flex;
    flex-direction: column;
}


nav > a{
 
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 2em;
    text-decoration: none;
    color: black;
    text-align: left;
    padding-left: 11px;
    padding-right: 11px;
}

a:hover{
    color: grey;
}

a.verticalNavbarLink{
    line-height: 0px;
}

#navbarMainContentWrapper{

    display:flex;
    position: relative;
    flex-direction: row;
    flex-grow: 1;
    overflow-y: auto;


}

.logisticsVerticalNavbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding:0px !important;
    /* height: 100%; */
    width: 80px;
    background-color: white;
    border-right: solid 1px var(--borderColour);
}

#logisticsVerticalNavbar > a{
    padding: 0px;
    margin:0px;

}

.navbarIcon{
    padding-top: 20px;
    font-size: 40px !important;
    font-weight: normal !important;
}

.navbarIcon:hover {
    cursor: pointer;
}

.selectedIconColour{
    color: #2881FF;
}

.subLinks{

    display: none;

}

@media(max-width: 1000px){

    td{
      padding: 0 10px;
    }
  
    .navLinks{
      font-size: 20px !important;
      padding-left: 0px;

    }

}


@media(max-width: 850px){

    .logisticsVerticalNavbar{

        display: none;

    }

    .subLinks{

        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

}