@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


html,
body {
  height: 100%;
  margin: 0;
}

nav{
  display: flex;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 3em;
  background-color: white;
}

a.navLinks{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: black;
  text-decoration: none;

  margin: 0 1em;

}

a.navLinks:hover{
  color: grey;
}
