@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

div.underlineContactUs{
    background-color: #2881FF;
    height: 3px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 20em;
}

div.maincontent{
    display: flex;
    padding: 20px 0;
    gap: 100px;
    background-color: #FAFAFA;
    padding-left: 150px;
    padding-right: 150px;
}

div.leftcontainer{
    width: 50%;
}


div.rightcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

label{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: black;
  }
  
  input{
    height: 35px;
    border-radius: 6px;
    border: 1px solid #000000;;
    font-family: 'Raleway';
    font-style: 300;
    font-weight: 500;
    font-size: 22px;
    width: 100%;
  }
  
  textarea{
    width: 100% ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  
  }

  div.contactusinput{
    display:flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
  
  }

  #submitButton{
    margin: 0 50%;
    transform: translateX(-50%);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
    width: 150px;
    height: 40px;
    background: #2881FF;
    border-radius: 16px;
    border: none;
  }

  h1{
    margin: 0;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
  }


  div.googlemapsimagewrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
 
    border-radius: 16px;

  }

  i{
    color: transparent;
    background-color: #00000000;
  
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000000;
  
  }

  div.addressandphonenumberwrapper{
    display: flex;

  }
  div.infocontainer{
    margin: 0;
    width: 50%;
    text-align: center;
    word-wrap: normal;
    
  }

  div.contactinfowrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.icontitlecontainer{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
  }

  h2{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
  }

  p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
  }

  div.emailwrapper{
    width: 75%;
  }

