@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.notificationWrapper{
    
    position: fixed;
    right: 0px;
    top: 10px;

}

.notificationContainer{

    position: relative;
    font-family: 'Inter';
    display: flex;
    width: max-content;
    border-radius: 5px;
    background: white;
    filter: drop-shadow(2px 3px 8px #00000040);
    padding: 0.8rem;
    line-height: normal;
    font-size: 1em;

}

.circle{

    margin: 3px 15px 15px 5px;
    border-radius: 100%;
    background: rgba(26, 184, 26);
    filter: drop-shadow(2px 3px 5px rgba(26, 184, 26, 0.4));
    height: 20px;  
    width: 20px;  
}

.closeSymbol{

    position: absolute;
    right: 15px;
    top: 3px;
    font-size: 20px;
}

.progressBar{

    position: absolute;
    bottom: 0px;
    height: 5px;
    background-color: #2881FF;
    right: 0px;
    animation: progressBar 8s linear;

}

h1, p{
    margin: 0;
    padding: 0;
}

.notificationTitle{
    font-size: 1.15rem;
}

.notificationMessage{
    font-size: 0.9rem;
}

@keyframes progressBar {
    0% { width: 100% }
    100% { width: 0%; }
}