body{
    padding: 10px;
}


p{
    font-size: x-large;
    break-inside: avoid;
    margin: 0;
    padding: 5px;
}

.postcodesWrapper{

    margin: 0;
    padding: 0;
    column-count: 3;
    column-gap: 10px;
    row-gap: 20px;
    
}

@media print{
     * {
    page-break-inside: avoid;
  }
}
