@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');



html,body{
    padding: 0;
    margin: 0;
}

.menu{
    padding-top: 2rem;  
}

div.underlinePrices{
    background-color: #2881FF;
    height: 3px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 20em;
}

.maincontent{
    background-color: #FAFAFA;
    padding: 10px 12vw;
}

h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.priceboxwrapper{

    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    gap: 50px;

}

.priceinfobox{
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    background-color:#FDFDFD;
    padding: 15px 10px;
    box-shadow: 0px 0px 5px #00000044;
    margin-bottom: 7px;
}

.pricebox{
    border-radius: 15px;
    background-color: white;
   
    width: 300px;
    padding: 25px;
    box-shadow: 0px 0px 5px #00000044;
   
}

h2,h3,h4,h5,p{
    font-family: 'raleway';
    font-weight: 700;
    text-align: center;
  
}

h2,h4{
    font-size: 26px;
}

.h2wrapper{
    vertical-align: center;
    height: 78px;
}

h3{
    font-size: 30px;

}

h4{
    font-weight: 600;
    margin-bottom: 20px;
}
  
h5{
    text-align: left;
    margin:0;
    margin-bottom: 5px;
    margin-top: 10px;
    
}

h5,p{
    font-size: 18px;
}

p{
    margin: 0px;
}

.pigeons{
    background-color: #FFBCBC;
}

.finches{
    background-color: #AFCAFF;

}

.guineapigs{
    background-color: #A5FF85;

}

.lizards{
    background-color: #FFE0F6;

}

.geese{
    background-color: #93FFEB;

}

.owls{
    background-color: #FFF598;

}

.chickens{
    background-color: #E3B5FF;

}

.rabbits{
    background-color: #39dfea;

}

a:visited{
    color: black;
}

.text{
    margin: 50px;
}

.imageWrapper{
    
    width: 100%;
}

img{
    width: 100%;
    object-fit: contain;
}

#pigeonPrices{
    font-size: 34px;
    text-align: left;
    padding: 10px 0px;
}
