

html,
body {
  margin: 0;
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.15em;
  line-height: 1.5em;

}

address{
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
}

h1{
  font-size: 1.4em;
}

h1, h2{
  text-align: center;
  margin:0 auto;
  padding: 6px 0;

}

h3, h2{
  font-size: 1em;
  margin: 0;
}

div.h3{
  width: 40%;
}

.bold{
  font-weight: bold;
}

div.wrapper{
  margin: 0 20px;
  flex: 1;

}

.grid{
  margin: 0 20px;
  display: grid;
  grid-template-columns: 7fr 16fr;
}


div.infowrapper{
  padding: 0;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 3fr;
}

div.formwrapper{
  
  display: flex;
  flex-direction: column;
  flex:1;
}

div.noteswrapper{
  margin: 0 20px;
}


.delivery{
  border: red 3px solid;
}

.collection{
  border: blue 3px solid;
  
}

.deliverytextcolour{
  color: #5b5b5b;

}

.collectiontextcolour{
  color: #5b5b5b;
}


.flex{
  display: flex;
}

.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  background-color: white;
}


p{
  margin: 0;
}

@media print {
  .pagebreak { 
    page-break-before: always; 
  } 

}



