
.shipmentsWindow{

    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid var(--borderColour);
}

.shipmentsLogisticsManagerWrapper{
    display: flex;
    height: 100%;
}

h1{
    margin: 0;
}

p{
    margin: 0px
}

.mainContent{
    display: flex;;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.createShipmentWidget{

    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.createShipmentContentWrapper{

    display: flex;
    flex-direction: column;
    gap: 3px;

}

.shipmentWidgetInput{

    padding: 5px;
    font-size: 1rem;

}

.shipmentWidgetButton{

    font-size: 1rem;
    padding: 2px;

}

.runCard{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 9px;
    filter: drop-shadow(2px 3px 8px #00000040);
    font-style: normal;
    font-family: "Inter", serif;
    line-height: 1em;
}

.selectedRunCard{
    background-color: #D9FCFF !important;
}

.runCardList{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    overflow-y: scroll;
}
    

.windowTitle{
    color: #000000;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    padding: 30px 30px 0px 30px;
    
}

.selectShipment{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    padding-right: 40px;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid black;
    filter: drop-shadow(2px 3px 4px #00000040);
    /* background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd; */
    -webkit-appearance: none;
    appearance: none;
    
}

.dropDownIcon{
    position: absolute;
    right: 5px;
    font-size: 30px !important;
    top: 50%;
    transform: translateY(-50%);
    padding: inherit;
   

}

.runInfoIcon{
    font-size: 30px !important;
}

.runInfoTitle{
    font-size: 1rem;
    font-weight: 300;
}

.selectWrapper{
    position: relative;
    padding: 25px 45px 5px 30px;
    box-sizing: border-box;
}

.runName{
    font-size: 1.3rem;
    font-weight: 600;
}

.row{
  
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
   
}

.runInfoWrapper{
    gap:10px
}

.runInfo{
    font-size: 1.2rem;
    font-weight: 500;
    text-wrap: wrap;
}

.unassignedOrdersCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 12px;
    margin: 10px 45px 10px 30px;
    background-color: white;    
    border-radius: 9px;
    filter: drop-shadow(2px 3px 8px #00000040);
    border: 1px solid red;

}

.numberOfUnassignedOrders{
    font-size: 1.2rem;
    font-weight: 600;
}

.unassignedOrdersTitle{
    font-size: 1.3rem;
    font-weight: 600;
}

.warningIcon{
    font-size: 2rem !important;
    color:#FFF600;
    -webkit-text-stroke: 1px black;
}

.dependantContent{
    background-color: pink;
    flex: 1;
    /* width: 100%; */
}

.unassignedOrdersView{

    /* background-color: pink; */

}

.hidden{
    display: none;
}

.flex-col{
    display: flex;
    flex-direction: column;
}