#shipmentsWindow{

    display: flex;
    flex-direction: column;
    padding: 30px;

    background-color: white;
    /* width: 300px; */
    height: 100%;

    box-sizing: border-box;
}

#shipmentsLogisticsManagerWrapper{
    display: flex;
}

h1{
    margin: 0;
    padding-bottom: 20px;
}

p{
    margin: 0px
}

.runCard{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 9px;
    filter: drop-shadow(2px 3px 8px #00000040);
    font-style: normal;
    font-family: "Inter", serif;
    line-height: 1em;
}

.selectedRunCard{
    background-color: #D9FCFF;
}
    

.windowTitle{
    color: #000000;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    
}

select{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    padding-right: 40px;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid black;
    filter: drop-shadow(2px 3px 4px #00000040);
    /* background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd; */
    -webkit-appearance: none;
    appearance: none;
}

.dropDownIcon{
    position: absolute;
    right: 5px;
    font-size: 30px !important;
    top: 50%;
    transform: translateY(-50%);

}

.runInfoIcon{
    font-size: 30px !important;
}

.selectWrapper{

    position: relative;
}

.runName{
    font-size: 24px;
    font-weight: 600;
}

.row{
  
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
   
}

.runnfoWrapper{
    gap:5px
}

.runName{
    font-size: 24px;
    font-weight: 600;
}

.runInfo{
    font-size: 24px;
    font-weight: 500;
    text-wrap: wrap;
}