<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/Footer.css" type="text/css">
    <link rel="stylesheet" href="/css/Navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/ManageOrders.css" type="text/css">
    <link rel="stylesheet" href="/css/MobileNavigationBar.css" type="text/css">
    <title>{{ page_title }}</title>
    <script src="/js/ManageOrdersNonDeferred.js"></script>
    
  </head>
  <body>

    <div id="wrapper">
      <header>
        <div id="mobilenavmenu" class="hideMobileMenu">
          <div id="mobilenavwrapper">
            <div id="closemobilenavmenu"><p
                id="closenavtext">close</p><p>X</p></div>
            <a href="/logout">Logout</a>
            <a class="currentpage" href="/manage-orders">Manage Bookings</a>
            {% if isAdmin == true %}
            <a href="/content-manager">Content Manager</a>
            <a href="/manage-accounts">Manage Accounts</a>
            <a class="navLinks" href="/live-logistics-manager">Logistics</a>

            {% endif %}
          </div>
        </div>
        <nav id="menu">
          <div id="mobilenavtoggle">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a class="navLinks" href="/logout">Logout</a>
          <a class="navLinks" href="/manage-orders">Manage Bookings</a>
          {% if isAdmin == true %}
          <a class="navLinks" href="/content-manager">Content Manager</a>
          <a class="navLinks" href="/manage-accounts">Manage Accounts</a>
          <a class="navLinks" href="/live-logistics-manager">Logistics</a>

          {% endif %}
        </nav>
      </header>
      <div id="maincontent">

        <div class="orderviewcontainer">
          <div class="searchbar bubble">
            <div class="searchoption">Filter</div>
            <form id="searchform" action="/manage-orders" method="get">
              <div>
                <select class="searchoption" name="field" id="filter">
                  <option disabled selected value> -- select an option --
                  </option>
                  <option value="id">ID</option>
                  <option value="animal_type">Animal Type</option>
                  <option value="quantity">Quantity</option>
                  <option value="email">Email</option>
                  <option value="username">Account</option>
                  <option value="delivery_week">Delivery Week</option>
                  <option value="collection_phone_number">Phone Number</option>
                  <option value="collection_name">Collection Name</option>
                  <option value="collection_address_1">Collection Address
                    1</option>
                  <option value="collection_address_2">Collection Address
                    2</option>
                  <option value="collection_address_3">Collection Address
                    3</option>
                  <option value="collection_postcode">Collection
                    Postcode</option>
                  <option value="delivery_name">Delivery Name</option>
                  <option value="delivery_address_1">Delivery Address 1</option>
                  <option value="delivery_address_2">Delivery Address 2</option>
                  <option value="delivery_address_3">Delivery Address 3</option>
                  <option value="delivery_postcode">Delivery Postcode</option>
                  <option value="delivery_phone_number">Delivery Phone
                    Number</option>
                  <option value="payment_option">Payment</option>
                  <option value="message">Message</option>
                  <option value="code">Code</option>
                  <option value="added_by">Added By</option>
                  <option value="printed">Printed</option>
                </select>
              </div>
              <div>
                <input class="searchoption" type="text" id="search"
                  name="filter" placeholder="search value">
              </div>
              <div>
                <button class="searchoption button"
                  type="submit">Search</button>
              </div>
            </form>
            <a class="button" href="/add-order">
              Add
            </a>
          </div>

          <div class="massactionbuttons">
            <form>
              <button id="selectall" class="massactionbutton"
                onclick="selectAll()" type="button">Select all</button>
            </form>
            {% if isAdmin == true %}
            <form id="deleteselectedform" action="/delete-multiple-orders"
              method="get">
              <button id="deleteselected" class="massactionbutton"
                onclick="deleteSelected()" type="button">Delete
                Selected</button>
            </form>
            {% endif %}
            <form id="printselectedform" action method="get">
              <button id="printselected" class="massactionbutton"
                onclick="printSelected()" type="button">Print Selected</button>
            </form>
          </div>

          <div id="orderDataWrapper" class="bubble orderdatawrapper">

            <div class="orderdata">
              <table id="orderTable">
                <tr class="headerrow">               
                  <th></th>
                  <th>ID</th>
                  <th>Animal Type</th>
                  <th>Quantity</th>
                  <th>Email</th>
                  <th>Account</th>
                  <th>Delivery Week</th>
                  <th>Collection Name</th>
                  <th>Collection Address 1</th>
                  <th>Collection Address 2</th>
                  <th>Collection Address 3</th>
                  <th>Collection Postcode</th>
                  <th>Collection Phone Number</th>
                  <th>Delivery Name</th>
                  <th>Delivery Address 1</th>
                  <th>Delivery Address 2</th>
                  <th>Delivery Address 3</th>
                  <th>Delivery Postcode</th>
                  <th>Delivery Phone Number</th>
                  <th>Payment</th>
                  <th>Message</th>
                  <th>Code</th>
                  <th>Added By</th>
                  <th>Printed</th>
                  <th>Time</th>
                  <th id="topright"></th>
                </tr>
                <tbody id="tableBody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script type="module" src="/js/FirebaseManageOrders.js" defer></script>
  <script type="module" src="/js/ManageOrders.js" defer></script>
  <script type="module" src="/js/MobileNavigationBar.js"></script>
</html>
