<style type="text/css">
    @media only screen and (max-width:1300px) {
      .row { display:block!important; width:100%!important; }
    }
  </style>
  <div style="overflow-x: scroll;">
    <table style="width: 100%;">
      <tr>
        <th>Article</th>
        <th>Entrance</th>
        <th>Page Views</th>
        <th>Author</th>
        <th>Images in Article</th>
        <th>Links in Article</th>
        <th>Links to Article</th>
        <th>Meta Title</th>
        <th>Google Referrers</th>
        <th>AMP Traffic</th>
        <th>Users</th>
      </tr>
      <tr>
        <td>How to Scroll in Gmail</td>
        <td>500,000</td>
        <td>700,000</td>
        <td>John Smith</td>
        <td>25</td>
        <td>200</td>
        <td>How to Scroll in Gmail: a Comprehensive Guide</td>
        <td>2,000,000</td>
        <td>3,000,000</td>
        <td>100,000,000</td>
      </tr>
    </table>
  </div>
  
  