<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script>
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=raleway" id="raleway">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Times New Roman" id="TimesNew Roman">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" id="Inter">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab" id="RobotoSlab">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" id="Raleway">
        
      <link rel="stylesheet" crossorigin href="./assets/AboutUs-C4uuGfF_.css">
      <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-BGA6MExJ.css">
      <link rel="stylesheet" crossorigin href="./assets/Navbar-BQ0c1Epq.css">
      <link rel="stylesheet" crossorigin href="./assets/Footer-Co0a3HEz.css">
    </head>
    <body>
        <header class="">
            <div id="mobilenavmenu" class="hideMobileMenu">    
                <div id="mobilenavwrapper">
                    <div id="closemobilenavmenu"><p id="closenavtext">close</p><p>X</p></div>
                    <a href="/">Home</a>
                    <a class="currentpage" href="/prices">Prices</a>
                    <a href="/bookings">Booking</a>
                    <a href="/f-a-q">FAQ</a>
                    <a href="/contact-us">Contact Us</a>
                    <a href="/about-us">About Us</a>
                </div>
            </div>  
            <nav class="menu">
                <div id="mobilenavtoggle">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <a class="navLinks" href="/">Home</a>
                    <div class="underlineHome"></div>
                </div>
                    <div>
                    <a class="navLinks" href="/prices">Prices</a>
                    <div class="underlinePrices"></div>
                </div>
                <div>
                    <a class="navLinks" href="/bookings">Booking</a>
                    <div class="underlineBooking"></div>
                </div>
                <div>
                    <a class="navLinks" href="/f-a-q">FAQ</a>
                    <div class="underlineFAQ"></div>
                </div>
                <div>
                    <a class="navLinks" href="/contact-us">Contact Us</a>
                    <div class="underlineContactUs"></div>
                </div>
                <div>
                    <a class="navLinks" href="/about-us">About Us</a>
                    <div class="underlineAboutUs"></div>
                </div>
                
            </nav>
        </header>
        <div class="maincontent">

             <h1  style="font-family: &quot;Roboto Slab&quot;; color: rgb(0, 0, 0);">
              About Us
            </h1>

            
            <p>Highflyers is a family run business and has been trading since 2010 with an additional 20 years’ experience in the courier industry.</p>
            
            <p>We are a courier for birds, reptiles and certain small animals.</p>
            
            <p>We are based in Cheshire and offer a next day service* for collection and deliveries.</p>
            <p>We cover the whole of mainland U.K every week.</p>
            
            <p>We are the official couriers for auctions sites such as <a style="text-decoration: underline" href="http://www.elimarpigeons.com/auctions/">Elimar</a> and <a style="text-decoration: underline" href="https://louellapigeonworld.co.uk/">Louella</a> and for many trusted breeders of birds and reptiles.</p>
            
            <p>We have an amazing team of drivers who have been part of the company for many years who go above and beyond to safely deliver your birds and reptiles. We have a team of staff dedicated to support the welfare of any species in our care.</p>
            
            <p>All collections are brought to our holding area where we have facilities to care for all kinds of breeds. We have a heat room for reptiles, exotic birds and other animals requiring warmth.</p>
            <p>We have pens for pigeons and birds who may require staying for longer and our dedicated team care for and feed and water everything which comes into our holding area before they go on their homebound journeys.</p>
            
            <p>We have many returning and regular customers who have relied on us for a number of years. We strive to deliver an excellent and safe service to our whole customer base, both old and new.</p>
            
            <p>We wish to thank each and every one of you for your continued custom.</p>
                
            <p> Best wishes to you all,</p>
                
            <p>Highflyers Team</p>
                
            <p>*a small number of bookings are over a two-day service</p>

            
            
            
        
        </div>
        <footer class="" contenteditable="false" style="background-color: rgb(222, 222, 222);">
          <div class="footerlinkswrapper">
            <a class="footerlinks" href="/">Home</a>
            <a class="footerlinks" href="/prices">Prices</a>
            <a class="footerlinks" href="/bookings">Booking</a>
            <a class="footerlinks" href="/f-a-q">FAQ</a>
            <a class="footerlinks" href="/contact-us">Contact Us</a>
            <a class="footerlinks" href="/about-us">About Us</a>

          </div>
          <div class="facebookicon">
            <a href="https://www.facebook.com/HighFlyersUKCourier">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
          <div class="copyright"><p id="copyright" style="margin: 0px; padding: 0px;">© High Flyers UK Couriers</p></div>
          <a class="login" href="/loginpage">Login</a>
            <script type="text/javascript" src="/js/MobileNavigationBar.js"></script>
        </footer>
    </body>
</html>