<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" id="Raleway">

        <style>

            body{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 1.1em;
            }

            .blueText{
                color:blue;
            }
            
            .greenText{
                color:green;
            }
            
            .redText{
                color:red;
            }
            
            .blue > td{
                color: blue;
            }
            
            .green > td{
                color: green;
            }
            
            .red > td{
                color: red;
            }
            
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }



        </style>
    </head>
    <body>

        <p>Thank you for booking with Highflyers. Your order has been received and being processed.</p>
        <p>We will contact you and the other party on your booking the day before your collection or delivery takes place, this is to confirm an estimated two-hour time slot.</p>

        <p>To check for prices, please follow the link <a style="text-decoration: underline;" href="https://www.highflyersukcouriers.com/prices">here</a></p>

        <p>If you have any queries, you can call us on 07887781089 or 07760242729</p>

        <p>Email: <a style="text-decoration: underline;" href="mailto: highflyerscouriers@gmail.com">highflyerscouriers@gmail.com</a> or use the contact page <a style="text-decoration: underline;" href="https://www.highflyersukcouriers.com/contact-us">here</a></p>

        <p>Opening hours 10am – 4pm 7 days a week.</p>

        <p>To contact for anything urgent out of hours please call 07707889868 (no bookings are taken on this number)</p>

        <p>To check which days your collection or delivery day is taking place please see below.</p>


        <p><b class="blueText">Tuesday</b> collections are from the following postcodes:</p>
        <br>

            <table>
                <tr class="blue">
                <td>AL</td><td>DA</td><td>IG</td><td>NN</td><td>SG</td><td>TN</td>
                </tr>
                <tr class="blue">
                <td>BH</td><td>DT</td><td>IP</td><td>NR</td><td>SL</td><td>TW</td>
                </tr>
                <tr class="blue">
                <td>BR</td><td>E</td><td>KT</td><td>NW</td><td>SM</td><td>UB</td>
                </tr>
                <tr class="blue">
                <td>CB</td><td>EC</td><td>LL</td><td>OX</td><td>SN</td><td>W</td>
                </tr>
                <tr class="blue">
                <td>CM</td><td>EN</td><td>LU</td><td>PO</td><td>SO</td><td>WC</td>
                </tr>
                <tr class="blue">
                <td>CO</td><td>GU</td><td>ME</td><td>RH</td><td>SP</td><td>WD</td>
                </tr>
                <tr class="blue">
                <td>CR</td><td>HA</td><td>MK</td><td>RM</td><td>SS</td><td> </td>
                </tr>
                <tr class="blue">
                <td>CT</td><td>HP</td><td>N</td><td>SE</td><td>SW</td><td> </td>
                </tr>
            </table>
            
            <br>
            
            <table>
                <tr class="blue">
                <td>PE2</td><td>PE27</td>
                </tr>
                <tr class="blue">
                <td>PE5</td><td>PE28</td>
                </tr>
                <tr class="blue">
                <td>PE7</td><td>PE29</td>
                </tr>
                <tr class="blue">
                <td>PE8</td><td>PE31</td>
                </tr>
                <tr class="blue">
                <td>PE14</td><td>PE32</td>
                </tr>
                <tr class="blue">
                <td>PE15</td><td>PE33</td>
                </tr>
                <tr class="blue">
                <td>PE16</td><td>PE36</td>
                </tr>
                <tr class="blue">
                <td>PE19</td><td>PE37</td>
                </tr>
                <tr class="blue">
                <td>PE26</td><td>PE38</td>
                </tr>
            </table>

            <br>
            <p><b>Tuesday</b> collections will be delivered on a <b>Wednesday*</b></p>
            <br>
            <p>*With exception to some areas which will be a two-day service, please see the Two-Day Services Areas section below.</p>
            <br>

            <p><b class="greenText">Wednesday</b> collections are from the following postcodes:</p>
            <br>
            
            <table>
                <tr class="green">
                <td>B</td><td>CH</td><td>EH</td><td>HU</td><td>LS</td><td>PR</td><td>TD</td><td>WV</td>
                </tr>
                <tr class="green">
                <td>BA</td><td>CV</td><td>EX</td><td>HX</td><td>M</td><td>S</td><td>TF</td><td>YO</td>
                </tr>
                <tr class="green">
                <td>BB</td><td>DD</td><td>FK</td><td>KA</td><td>ML</td><td>SA</td><td>TR</td><td></td>
                </tr>
                <tr class="green">
                <td>BD</td><td>DE</td><td>FY</td><td>L</td><td>NE</td><td>SK</td><td>TS</td><td></td>
                </tr>
                <tr class="green">
                <td>BL</td><td>DL</td><td>G</td><td>LA</td><td>NG</td><td>SR</td><td>TQ</td><td></td>
                </tr>
                <tr class="green">
                <td>BS</td><td>DN</td><td>GL</td><td>LD</td><td>NP</td><td>ST</td><td>WA</td><td></td>
                </tr>
                <tr class="green">
                <td>CA</td><td>DN</td><td>HD</td><td>LE</td><td>OL</td><td>SY</td><td>WF</td><td></td>
                </tr>
                <tr class="green">
                <td>CF</td><td>DY</td><td>HG</td><td>LN</td><td>PL</td><td>TA</td><td>WN</td><td></td>
                </tr>
            </table>
            <br>
            <table>
                <tr class="green">
                <td>PE1</td><td>PE20</td>
                </tr>
                <tr class="green">
                <td>PE3</td><td>PE21</td>
                </tr>
                <tr class="green">
                <td>PE4</td><td>PE22</td>
                </tr>
                <tr class="green">
                <td>PE6</td><td>PE23</td>
                </tr>
                <tr class="green">
                <td>PE9</td><td>PE24</td>
                </tr>
                <tr class="green">
                <td>PE10</td><td>PE25</td>
                </tr>
                <tr class="green">
                <td>PE11</td><td></td>
                </tr>
            </table>    

            <br>
            <p>Your <b>Wednesday</b> collection will be delivered on a <b>Thursday.</b></p>


            <br>
            <p><b class="redText">*Two-day service areas</b> only applies to some Tuesday collections:</p>
            
            <p>If your collection is on a <b>Tuesday</b>, and the delivery postcode is listed below, the delivery will be a <b>Thursday.</b></p>
            <br>


            <table>
                <tr class="red">
                <td>AL</td><td>DA</td><td>IP</td><td>NW</td><td>SM</td><td>TQ</td>
                </tr>
                <tr class="red">
                <td>BA</td><td>DT</td><td>KT</td><td>OX</td><td>SN</td><td>UB</td>
                </tr>
                <tr class="red">
                <td>BH</td><td>E</td><td>LD</td><td>PL</td><td>SO</td><td>W</td>
                </tr>
                <tr class="red">
                <td>BR</td><td>EX</td><td>LL</td><td>PO</td><td>SP</td><td>WC</td>
                </tr>
                <tr class="red">
                <td>BS</td><td>EC</td><td>LU</td><td>RH</td><td>SS</td><td>WD</td>
                </tr>
                <tr class="red">
                <td>CB</td><td>EN</td><td>ME</td><td>RM</td><td>SW</td><td></td>
                </tr>
                <tr class="red">
                <td>CM</td><td>GU</td><td>MK</td><td>SA</td><td>TA</td><td> </td>
                </tr>
                <tr class="red">
                <td>CO</td><td>HA</td><td>N</td><td>SE</td><td>TN</td><td> </td>
                </tr>
                <tr class="red">
                <td>CR</td><td>HP</td><td>NN</td><td>SG</td><td>TR</td><td> </td>
                </tr>
                <tr class="red">
                <td>CT</td><td>IG</td><td>NR</td><td>SL</td><td>TW</td><td> </td>
                </tr>
            </table>

            <br>

            <table>
                <tr class="red">
                <td>PE2</td><td>PE27</td>
                </tr>
                <tr class="red">
                <td>PE5</td><td>PE28</td>
                </tr>
                <tr class="red">
                <td>PE7</td><td>PE29</td>
                </tr>
                <tr class="red">
                <td>PE8</td><td>PE31</td>
                </tr>
                <tr class="red">
                <td>PE14</td><td>PE32</td>
                </tr>
                <tr class="red">
                <td>PE15</td><td>PE33</td>
                </tr>
                <tr class="red">
                <td>PE16</td><td>PE36</td>
                </tr>
                <tr class="red">
                <td>PE19</td><td>PE37</td>
                </tr>
                <tr class="red">
                <td>PE26</td><td>PE38</td>
                </tr>
            </table>
        <p>Please note that last bookings need to be sent in by each Sunday 4pm for collections the following week, if you have sent this after Sunday 4pm, your order will be automatically booked into the week after. However, if we can fit your booking in sooner, we will contact you.</p>
        <p>Many thanks for your custom</p>
        
    </body>

</html>