<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" id="Raleway">

        <style>

            @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

            body{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 1.1em;
            }

        </style>
    </head>
    <body>

        <p>Thank you for booking with Highflyers. Your order has been received and being processed.</p>

        <p>We will contact you and the other party included on your booking the days before your collection or delivery takes place.</p>

        <p>This is to confirm when to expect the driver within an estimated 2 hour time slot.</p>

        <p>Collections are Wednesdays and deliveries are Thursdays each week for all areas.</p>

        <p>To check for prices, please follow the link <a href="https://www.highflyersukcouriers.com/prices">here</a></p>

        <p>If you have any queries, you can call us on 07887781089 or 07760242729</p>
        <p>Email: <a href= "mailto: highflyerscouriers@gmail.com">highflyerscouriers@gmail.com</a> or use the contact page <a href="https://www.highflyersukcouriers.com/contact-us">here</a></p>

        <p>Opening hours 10am - 4pm 7 days a week.</p>

        <p>To contact for anything urgent out of hours please call 07707889868 (no bookings are taken on this number)</p>

        <p>Please note that last bookings need to be sent in by each Sunday 4pm for collections the following week, if you have sent this after Sunday 4pm, your order will be automatically booked into the week after. However, if we can fit your booking in sooner, we will contact you.</p>

        <p>Many thanks for your custom</p>

    </body>
