<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" id="Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab" id="RobotoSlab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" id="Raleway">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrJDwcnDimqAZ5BZAwk7q9Iw-YE6-A9yY&libraries=places&v=weekly" defer></script>

    
    <title>HighFlyersUKCourier</title>
    <script type="module" crossorigin src="./assets/Bookings-Byb2ao2v.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
    <link rel="modulepreload" crossorigin href="./assets/AddressAutocomplete-CkD3A38D.js">
    <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-CO_jqFWO.js">
    <link rel="modulepreload" crossorigin href="./assets/Firebase-BIVISA5O.js">
    <link rel="modulepreload" crossorigin href="./assets/ValidateAddress-3TrUbZIK.js">
    <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
    <link rel="modulepreload" crossorigin href="./assets/FormModel-CX-SXuzH.js">
    <link rel="stylesheet" crossorigin href="./assets/AddressAutocomplete-DluMj-8M.css">
    <link rel="stylesheet" crossorigin href="./assets/Bookings-Dqj8VJTa.css">
    <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-DTOtsrKl.css">
    <link rel="stylesheet" crossorigin href="./assets/Footer-Co0a3HEz.css">
    <link rel="stylesheet" crossorigin href="./assets/Navbar-ClBKpNFz.css">
    <link rel="stylesheet" crossorigin href="./assets/FormStyles-CGnGOhzp.css">
    <link rel="stylesheet" crossorigin href="./assets/Notification-BQec5tsb.css">
  </head>
  <body>
  <header class="">
    <div id="mobilenavmenu"  class="hideMobileMenu">
      <div id="mobilenavwrapper">
        <div id="closemobilenavmenu"><p id="closenavtext">close</p><p>X</p></div>
          <a href="/">Home</a>
          <a href="/prices">Prices</a>
          <a class="currentpage" href="/bookings">Booking</a>
          <a href="/f-a-q">FAQ</a>
          <a href="/contact-us">Contact Us</a>
          <a href="/about-us">About Us</a>
      </div>
    </div>
    <nav class="menu">
      <div id="mobilenavtoggle">
        <div></div>
        <div></div>
        <div></div>
      </div>
      
      <div class="">
        <a class="navLinks" href="/">Home</a>
        <div class="underlineHome"></div> 
      </div>
      <div class="">
        <a class="navLinks" href="/prices">Prices</a>
        <div class="underlinePrices"></div>
      </div>
      <div class="">
        <a class="navLinks" href="/bookings">Booking</a>
        <div class="underlineBooking"></div>
      </div>
      <div>
        <a class="navLinks" href="/f-a-q">FAQ</a>
        <div class="underlineFAQ"></div>
      </div>
      <div>
        <a class="navLinks" href="/contact-us">Contact Us</a>
        <div class="underlineContactUs"></div>
      </div>
      <div>
        <a class="navLinks" href="/about-us">About Us</a>
        <div class="underlineAboutUs"></div>
      </div>
    </nav>
  </header>
  <section class="maincontent">
      <form id="bookingForm" action="bookings" method="post" class="">
        <div class="">
          <h1 class="" style="background-color: rgba(255, 255, 255, 0); color: rgb(0, 0, 0); font-family: &quot;Roboto Slab&quot;;">
            Booking</h1>
          <h2 class="" style="background-color: rgba(0, 0, 0, 0); font-family: Raleway;">Contact info</h2>
          <hr class="">
          <section class="formsection">
            <section class="bookingInput" style="background-color: rgba(255, 255, 255, 0);">
              <label for="email" class="" style="font-family: Raleway;">Email</label>
              <input id="email" name="email" type="email" required="">
            </section>
            <section class="bookingInput" style="background-color: rgba(255, 255, 255, 0);">
              <label for="confirmEmail" class="" style="font-family: Raleway;">Confirm Email</label>
              <input id="confirmEmail" name="confirmEmail" type="email" required="">
            </section>
          </section>
            
          <h2 class="" style="font-family: Raleway;">
            Order info
          </h2>
          <hr class="">
          <section class="formsection">
            <section id="animal_type_wrapper" class="bookingInput">
              <div id="animal_type_hint" class="labelHintWrapper">
                <label for="animal_type">Bird/Animal type</label>
                <div id="question_mark_wrapper" class="questionMarkWrapper"><p class="questionMark">?</p></div>
                
              </div>
              <select name="animal_type" id="animal_type" required>
                <option value=""> </option>
              </select>
             
            </section>

            <section class="bookingInput">
              <label for="quantity" class="">Quantity</label>
              <input id="quantity" name="quantity" type="number" min="1" required>
            </section>

            <section class="bookingInput">
              <label for="boxes" class="">Number Of Boxes</label>
              <input id="boxes" name="boxes" type="number" min="1" required>
            </section>
          </section>
          <h2>
            Collection info
          </h2>
          <hr class="">
          <section class="formsection">
            <section class="bookingInput">
              <label for="collectionName">Collection Name </label>
              <input id="collectionName" name="collectionName" type="text" required="">
            </section>
            
            <section class="bookingInput"></section>

            <section id="collectionAddressAutocomplete" class="bookingInput">
              <label for="collectionName">Find Collection Address </label>
              
              <input id="collectionAddressAutocompleteInput" type="text" placeholder="Search for a place..." />
              <div id="autocompleteResultsAnchor">
                <div id="autocompleteResultsWrapperCollection" class="autocompleteResultsWrapper hidden">
                  <div class="autocompleteTitleWrapper">
                    <div id="autocompleteTitleCollection" class="autocompleteTitle"></div>
                  </div>
                  <ul id="autocompleteResultsCollection"></ul>                   
                </div>
              </div>
          
            </section>

            <section class="bookingInput"></section>

            <section class="bookingInput">
              <label for="collectionAddress1">Collection Address Line 1 </label>
              <input id="collectionAddress1" name="collectionAddress1" type="text" required="">
            </section>

            <section class="bookingInput">
              <label for="collectionAddress2">Collection Address Line 2 </label>
              <input id="collectionAddress2" name="collectionAddress2" type="text">
            </section>

            <section class="bookingInput">
              <label for="collectionAddress3">Collection Address Line 3 </label>
              <input id="collectionAddress3" name="collectionAddress3" type="text">
            </section>

            <section class="bookingInput">
              <label for="collectionPostcode">Collection Postcode</label>
              <input id="collectionPostcode" name="collectionPostcode" type="text" required="">
            </section>

            <section class="bookingInput">
              <label for="email">Collection Telephone Number</label>
              <input id="collectionTelephone" name="collectionPhoneNumber" type="text" minlength="11" maxlength="12" required="">
            </section>
          </section>
          <h2>
            Delivery info
          </h2>
          <hr>
          <section class="formsection" style="background-color: rgba(0, 0, 0, 0);">
            <section class="bookingInput">
              <label for="deliveryName">Delivery Name </label>
              <input id="deliveryName" name="deliveryName" type="text" required="">
            </section>

            <section class="bookingInput"></section>


            <section id="deliveryAddressAutocomplete" class="bookingInput">
              <label for="deliveryName">Find Delivery Address </label>
              
              <input id="deliveryAddressAutocompleteInput" type="text" placeholder="Search for a place..." />
              <div id="autocompleteResultsAnchor">
                <div id="autocompleteResultsWrapperDelivery" class="autocompleteResultsWrapper hidden">
                  <div class="autocompleteTitleWrapper">
                    <div id="autocompleteTitleDelivery" class="autocompleteTitle"></div>
                  </div>
                  <ul id="autocompleteResultsDelivery"></ul>                   
                </div>
              </div>
          
            </section>

            <section class="bookingInput"></section>


            <section class="bookingInput">
              <label for="deliveryAddress1" class="" style="color: rgb(0, 0, 0);">Delivery Address Line 1 </label>
              <input id="deliveryAddress1" name="deliveryAddress1" type="text" required="">
            </section>

            <section class="bookingInput">
              <label for="deliveryAddress2">Delivery Address Line 2 </label>
              <input id="deliveryAddress2" name="deliveryAddress2" type="text">
            </section>

            <section class="bookingInput">
              <label for="deliveryAddress3">Delivery Address Line 3 </label>
              <input id="deliveryAddress3" name="deliveryAddress3" type="text">
            </section>

            <section class="bookingInput">
              <label for="deliveryPostcode">Delivery Postcode </label>
              <input id="deliveryPostcode" name="deliveryPostcode" type="text" required="">
            </section>

            <section class="bookingInput">
              <label for="deliveryTelephone">Delivery Telephone Number </label>
              <input id="deliveryTelephone" name="deliveryPhoneNumber" type="text" minlength="11" maxlength="12" required="">
            </section>
          </section>

          <h2>
            Order info
          </h2>
          <hr>
          <section class="formsection">
            <section class="bookingInput">
              <label for="payment">Would you like to pay on Pickup or Delivery? </label>
              <select name="payment" id="payment" required="">
                <option value=""> </option>
                <option value="Pickup">Pickup</option>
                <option value="Delivery">Delivery</option>
              </select>
            </section>
            <section class="bookingInput">
              <label for="message">Message </label>
              <textarea id="message" name="message" rows="6" wrap="soft"></textarea>
            </section>
          </section>

          <div id="order_price_wrapper" class="orderPriceWrapper">
            <p for="order_price">Total Price:&nbsp;</p>
            <p id="order_price" class="orderPrice">N/A</p>
          </div>

          <p class="disclaimer">Disclaimer: Orders sent through Highflyers are insured through PTI insurance. PTI have a maximum pay out of £500 minus excess charges. If your order exceeds this amount you need to apply directly through us for extra cover before you book. Thank you</p>
          <div id="submitbuttonwrapper">
            <div id="loadingsymbol"></div>
            <input id="submitButton" type="button" value="Submit" aria-label="Submit">
          </div>
        </div>
      </form>
    </section>
    <footer class="" style="background-color: rgb(222, 222, 222);">
      <div class="footerlinkswrapper">
        <a class="footerlinks" href="/">Home</a>
        <a class="footerlinks" href="/prices">Prices</a>
        <a class="footerlinks" href="/bookings">Booking</a>
        <a class="footerlinks" href="/f-a-q">FAQ</a>
        <a class="footerlinks" href="/contact-us">Contact Us</a>
        <a class="footerlinks" href="/about-us">About Us</a>

      </div>
      <div class="facebookicon">
        <a href="https://www.facebook.com/HighFlyersUKCourier">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
      <div class="copyright">
        <p id="copyright" style="margin: 0px; padding: 0px;">© High Flyers UK Couriers</p>
      </div>
      <a class="login" href="/loginpage">Login</a>

    </footer>

    <script type="text/javascript" src="/js/MobileNavigationBar.js"></script>

  </body>
</html>