<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" id="Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab" id="RobotoSlab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" id="Raleway">
    <link rel="stylesheet" crossorigin href="./assets/Bookings-B4_k0cy-.css">
    <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-BGA6MExJ.css">
    <link rel="stylesheet" crossorigin href="./assets/Footer-Co0a3HEz.css">
    <link rel="stylesheet" crossorigin href="./assets/AutoComplete-DluMj-8M.css">
    <link rel="stylesheet" crossorigin href="./assets/Navbar-BQ0c1Epq.css">
  </head>
  <body>
  <header class="" contenteditable="false">
  <div id="mobilenavmenu"  class="hideMobileMenu">
    <div id="mobilenavwrapper">
      <div id="closemobilenavmenu"><p id="closenavtext">close</p><p>X</p></div>
        <a href="/">Home</a>
        <a href="/prices">Prices</a>
        <a class="currentpage" href="/bookings">Booking</a>
        <a href="/f-a-q">FAQ</a>
        <a href="/contact-us">Contact Us</a>
         <a href="/about-us">About Us</a>
    </div>
  </div>
  <nav class="menu" contenteditable="false">
    <div id="mobilenavtoggle">
      <div></div>
      <div></div>
      <div></div>
    </div>
    
    <div class="">
      <a class="navLinks" href="/">Home</a>
      <div class="underlineHome"></div> 
    </div>
    <div class="" contenteditable="false">
      <a class="navLinks" href="/prices" contenteditable="false">Prices</a>
      <div class="underlinePrices" contenteditable="false"></div>
    </div>
    <div class="" contenteditable="false">
      <a class="navLinks" href="/bookings">Booking</a>
      <div class="underlineBooking" contenteditable="false"></div>
    </div>
    <div>
      <a class="navLinks" href="/f-a-q">FAQ</a>
      <div class="underlineFAQ"></div>
    </div>
    <div>
      <a class="navLinks" href="/contact-us">Contact Us</a>
      <div class="underlineContactUs"></div>
    </div>
    <div>
      <a class="navLinks" href="/about-us">About Us</a>
      <div class="underlineAboutUs"></div>
    </div>
  </nav>
</header>
<section class="maincontent" contenteditable="false">
        	<form id="bookingForm" action="bookings" method="post" class="">
            <div class="" contenteditable="false">
              <h1 class="" contenteditable="false" style="background-color: rgba(255, 255, 255, 0); color: rgb(0, 0, 0); font-family: &quot;Roboto Slab&quot;;">
                Booking</h1>
              <h2 class="" contenteditable="false" style="background-color: rgba(0, 0, 0, 0); font-family: Raleway;">Contact info</h2>
              <hr class="" contenteditable="false">
              <section class="formsection">
                <section class="bookingInput" contenteditable="false" style="background-color: rgba(255, 255, 255, 0);">
                  <label for="email" class="" contenteditable="false" style="font-family: Raleway;">Email</label>
                  <input id="email" name="email" type="email" required="">
                </section>
                <section class="bookingInput" contenteditable="false" style="background-color: rgba(255, 255, 255, 0);">
                  <label for="confirmEmail" class="" contenteditable="false" style="font-family: Raleway;">Confirm Email</label>
                  <input id="confirmEmail" name="confirmEmail" type="email" required="">
                </section>
              </section>
               
              <h2 class="" contenteditable="false" style="font-family: Raleway;">
                Order info
              </h2>
              <hr class="" contenteditable="false">
              <section class="formsection">
                <section class="bookingInput">
                  <label for="animalType" class="" contenteditable="false">Bird/Animal type</label>
                  <input id="animalType" name="animalType" type="text" required="">
                </section>

                <section class="bookingInput">
                  <label for="quantity" class="" contenteditable="false">Quantity</label>
                  <input id="quantity" name="quantity" type="number" min="1" required="">
                </section>
              </section>
              <h2>
                Collection info
              </h2>
              <hr class="" contenteditable="false">
              <section class="formsection" contenteditable="false">
                <section class="bookingInput">
                  <label for="collectionName">Collection Name </label>
                  <input id="collectionName" name="collectionName" type="text" required="">
                </section>
                
                <section class="bookingInput"></section>

                <section id="collectionAddressAutocomplete" class="bookingInput">
                  <label for="collectionName">Find Collection Address </label>
                  
                  <input id="collectionAddressAutocompleteInput" type="text" placeholder="Search for a place..." />
                  <div id="autocompleteResultsAnchor">
                    <div id="autocompleteResultsWrapperCollection" class="autocompleteResultsWrapper hidden">
                      <div class="autocompleteTitleWrapper">
                        <div id="autocompleteTitleCollection" class="autocompleteTitle"></div>
                      </div>
                      <ul id="autocompleteResultsCollection"></ul>                   
                    </div>
                  </div>
              
                </section>

                <section class="bookingInput"></section>

                <section class="bookingInput">
                  <label for="collectionAddress1">Collection Address Line 1 </label>
                  <input id="collectionAddress1" name="collectionAddress1" type="text" required="">
                </section>

                <section class="bookingInput">
                  <label for="collectionAddress2">Collection Address Line 2 </label>
                  <input id="collectionAddress2" name="collectionAddress2" type="text">
                </section>

                <section class="bookingInput">
                  <label for="collectionAddress3">Collection Address Line 3 </label>
                  <input id="collectionAddress3" name="collectionAddress3" type="text">
                </section>

                <section class="bookingInput">
                  <label for="collectionPostcode">Collection Postcode</label>
                  <input id="collectionPostcode" name="collectionPostcode" type="text" required="">
                </section>

                <section class="bookingInput">
                  <label for="email">Collection Telephone Number</label>
                  <input id="collectionTelephone" name="collectionPhoneNumber" type="text" minlength="11" maxlength="12" required="">
                </section>
              </section>
              <h2>
                Delivery info
              </h2>
              <hr>
              <section class="formsection" contenteditable="false" style="background-color: rgba(0, 0, 0, 0);">
                <section class="bookingInput">
                  <label for="deliveryName">Delivery Name </label>
                  <input id="deliveryName" name="deliveryName" type="text" required="">
                </section>

                <section class="bookingInput"></section>


                <section id="deliveryAddressAutocomplete" class="bookingInput">
                  <label for="deliveryName">Find Delivery Address </label>
                  
                  <input id="deliveryAddressAutocompleteInput" type="text" placeholder="Search for a place..." />
                  <div id="autocompleteResultsAnchor">
                    <div id="autocompleteResultsWrapperDelivery" class="autocompleteResultsWrapper hidden">
                      <div class="autocompleteTitleWrapper">
                        <div id="autocompleteTitleDelivery" class="autocompleteTitle"></div>
                      </div>
                      <ul id="autocompleteResultsDelivery"></ul>                   
                    </div>
                  </div>
              
                </section>

                <section class="bookingInput"></section>


                <section class="bookingInput">
                  <label for="deliveryAddress1" class="" contenteditable="false" style="color: rgb(0, 0, 0);">Delivery Address Line 1 </label>
                  <input id="deliveryAddress1" name="deliveryAddress1" type="text" required="">
                </section>

                <section class="bookingInput">
                  <label for="deliveryAddress2">Delivery Address Line 2 </label>
                  <input id="deliveryAddress2" name="deliveryAddress2" type="text">
                </section>

                <section class="bookingInput">
                  <label for="deliveryAddress3">Delivery Address Line 3 </label>
                  <input id="deliveryAddress3" name="deliveryAddress3" type="text">
                </section>

                <section class="bookingInput">
                  <label for="deliveryPostcode">Delivery Postcode </label>
                  <input id="deliveryPostcode" name="deliveryPostcode" type="text" required="">
                </section>

                <section class="bookingInput">
                  <label for="deliveryTelephone">Delivery Telephone Number </label>
                  <input id="deliveryTelephone" name="deliveryPhoneNumber" type="text" minlength="11" maxlength="12" required="">
                </section>
              </section>

              <h2>
                Order info
              </h2>
              <hr>
              <section class="formsection" contenteditable="false">
                <section class="bookingInput">
                  <label for="payment">Would you like to pay on Pickup or Delivery? </label>
                  <select name="payment" id="payment" required="">
                    <option value=""> </option>
                    <option value="Pickup">Pickup</option>
                    <option value="Delivery">Delivery</option>
                  </select>
                </section>
                <section class="bookingInput">
                  <label for="message">Message </label>
                  <textarea id="message" name="message" rows="6" wrap="soft"></textarea>
                </section>
              </section>
              <div id="submitbuttonwrapper" onclick="submitorders()">
                <div id="loadingsymbol"></div>
                <input id="submitButton" type="button" value="Submit" aria-label="Submit">
              </div>
            </div>
          </form>
        </section>
    <footer class="" contenteditable="false" style="background-color: rgb(222, 222, 222);">
      <div class="footerlinkswrapper">
        <a class="footerlinks" href="/">Home</a>
        <a class="footerlinks" href="/prices">Prices</a>
        <a class="footerlinks" href="/bookings">Booking</a>
        <a class="footerlinks" href="/f-a-q">FAQ</a>
        <a class="footerlinks" href="/contact-us">Contact Us</a>
        <a class="footerlinks" href="/about-us">About Us</a>

      </div>
      <div class="facebookicon">
        <a href="https://www.facebook.com/HighFlyersUKCourier">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
      <div class="copyright">
        <p id="copyright" style="margin: 0px; padding: 0px;">© High Flyers UK Couriers</p>
      </div>
      <a class="login" href="/loginpage">Login</a>

    </footer>
    
    <!-- <script src={{"https://maps.googleapis.com/maps/api/js?key=#{ places_api_key }&callback=init&libraries=places&v=weekly"}} defer></script> -->
    <script type="text/javascript" src="/js/AddressAutocomplete.js"></script>
    <script type="text/javascript" src="/js/MobileNavigationBar.js"></script>
    <script type="text/javascript" src="/js/NewBooking.js"></script>

  </body>
</html>