<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js"
      crossorigin="anonymous"></script>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" crossorigin href="./assets/ChangePassword-C-uccA8z.css">
    <link rel="stylesheet" crossorigin href="./assets/Navbar-CypaAb2F.css">
    <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-BGA6MExJ.css">
  </head>
  <body>

    <header>
      <nav id="menu">
        <a class="navLinks" href="/manage-orders">Back</a>
      </nav>
    </header>
    <div id="maincontent">
      <section class="formSection">
        <form class="contactUsForm" action="/change-password" method="post">
          <table>

            <tr>
              <td>
                <label for="password">New Password: </label>
              </td>
              <td>
                <input id="password" name="password" type="text" minlength="8"
                  required>
              </td>
            </tr>

            <tr>
              <td>
                <label for="confirmpassword">Confirm Password: </label>
              </td>
              <td>
                <input id="confirmpassword" name="confirmpassword" type="text"
                  minlength="8" required>
              </td>
            </tr>
          </table>

          <input class="submitButton" type="submit" value="submit"
            aria-label="Submit">
        </form>
      </section>
    </div>

  </body>
  <script type="text/javascript" src="{{ js_file }}"></script>
  <script type="text/javascript" src="/js/MobileNavigationBar.js"></script>
</html>
