<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js"
      crossorigin="anonymous"></script>
    <title>{{ page_title }}</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway" id="Raleway">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Times New Roman"
      id="TimesNew Roman">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter"
      id="Inter">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto Slab"
      id="RobotoSlab">
    <link rel="stylesheet" crossorigin href="./assets/ContactUs-CoeZ0HHI.css">
    <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-BGA6MExJ.css">
    <link rel="stylesheet" crossorigin href="./assets/Footer-Co0a3HEz.css">
    <link rel="stylesheet" crossorigin href="./assets/Navbar-_3NclZQX.css">
  </head>
  <body>
    <header class contenteditable="false">
      <div id="mobilenavmenu" class="hideMobileMenu" contenteditable="false">
        <div id="mobilenavwrapper" class contenteditable="false">
          <div id="closemobilenavmenu" class contenteditable="false"><p
              id="closenavtext" class contenteditable="false">close</p><p class
              contenteditable="false">X</p></div>
          <a href="/">Home</a>
          <a href="/prices">Prices</a>
          <a href="/bookings">Booking</a>
          <a href="/f-a-q">FAQ</a>
          <a class="currentpage" href="/contact-us">Contact Us</a>
          <a href="/about-us">About Us</a>
        </div>
      </div>
      <nav class="menu">
        <div id="mobilenavtoggle">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <a class="navLinks" href="/">Home</a>
          <div class="underlineHome"></div>
        </div>
        <div>
          <a class="navLinks" href="/prices">Prices</a>
          <div class="underlinePrices"></div>
        </div>
        <div>
          <a class="navLinks" href="/bookings">Booking</a>
          <div class="underlineBooking"></div>
        </div>
        <div>
          <a class="navLinks" href="/f-a-q">FAQ</a>
          <div class="underlineFAQ"></div>
        </div>
        <div>
          <a class="navLinks" href="/contact-us">Contact Us</a>
          <div class="underlineContactUs"></div>
        </div>
        <div>
          <a class="navLinks" href="/about-us">About Us</a>
          <div class="underlineAboutUs"></div>
        </div>
      </nav>
    </header><div class="maincontent" contenteditable="false">
      <div class="leftcontainer"
        style="background-color: rgba(255, 255, 255, 0);"
        contenteditable="false">

        <h1 id="desktoptitle" contenteditable="false"
          style="font-family: &quot;Roboto Slab&quot;; color: rgb(0, 0, 0);">
          Contact Us
        </h1>

        <form id="contactUsForm" action="contact-us" method="post" class>

          <div class="contactusinput">
            <label for="name" class contenteditable="false">Name</label>
            <input id="name" name="name" type="text" required class>
          </div>

          <div class="contactusinput">
            <label for="email" class contenteditable="false">Email</label>
            <input id="email" name="email" type="text" required>
          </div>

          <div class="contactusinput">
            <label for="phone" class contenteditable="false">Phone</label>
            <input id="phone" name="phone" type="text" minlength="11"
              maxlength="11" required>
          </div>

          <div class="contactusinput">
            <label for="message">Message </label>
            <textarea id="message" name="message" rows="13" wrap="soft"
              required></textarea>
          </div>
          <div id="submitbuttonwrapper" class="buttonwrapper"
            onclick="submitorders()">
            <div id="loadingsymbol"></div>
            <input id="submitButton" type="button" value="Submit"
              aria-label="Submit">
          </div>
        </form>

      </div>
      <div class="rightcontainer">
        <h1 id="mobiletitle"
          style="font-family: &quot;Roboto Slab&quot;; color: rgb(0, 0, 0);">
          Contact Us
        </h1>
        <div class="googlemapsimagewrapper" contenteditable="false">
          <a
            href="https://www.google.com/maps/place/53%C2%B009'56.1%22N+2%C2%B012'14.9%22W/@53.1655833,-2.2041389,17z/data=!3m1!4b1!4m4!3m3!8m2!3d53.1655833!4d-2.2041389">
            <img id="googlemapsimage"
              data-src="https://maps.googleapis.com/maps/api/staticmap?channel=mws-visit&amp;language=en_GB&amp;center=53.1655728%2C-2.2041472999999&amp;zoom=14&amp;size=760x400&amp;maptype=roadmap&amp;client=gme-11internet&amp;markers=53.165573,-2.204147&amp;signature=Q2bVxN5oN6gemzS8vBUAFoUUpQo="
              src="https://maps.googleapis.com/maps/api/staticmap?channel=mws-visit&amp;language=en_GB&amp;center=53.1655728%2C-2.2041472999999&amp;zoom=14&amp;size=760x400&amp;maptype=roadmap&amp;client=gme-11internet&amp;markers=53.165573,-2.204147&amp;signature=Q2bVxN5oN6gemzS8vBUAFoUUpQo="
              alt class contenteditable="false">
          </a>
        </div>
        <div class="contactinfowrapper">
          <div class="addressandphonenumberwrapper" contenteditable="false">

            <div class="emailwrapper infocontainer">
              <div class="icontitlecontainer">
                <i class="fa-regular fa-envelope"></i>
                <h2>
                  Email
                </h2>
              </div>
              <a href="mailto:highflyersukcouriers@hotmail.co.uk">
                <p>
                  highflyersukcouriers@ hotmail.co.uk
                </p>
              </a>
              <p>or</p>
              <a href="mailto:highflyerscouriers@gmail.com.co.uk">
                <p>
                  highflyerscouriers@ gmail.com
                </p>
              </a>
            </div>
            <div class="addresscontainer infocontainer" contenteditable="false">
              <div class="icontitlecontainer">
                <i class="fa-solid fa-location-pin"></i>
                <h2 class contenteditable="false" style="font-size: 30px;">
                  Address
                </h2>
              </div>
              <p class contenteditable="false">
                High Flyers UK Couriers,
                UNIT 2,
                Thomas Street,
                Congleton,
                <br>
                CW12 1QU
              </p>
            </div>
          </div>
          <div class="phonenumbercontainer infocontainer">
            <div class="icontitlecontainer">
              <i class="fa-solid fa-phone icon"></i>
              <h2>
                Phone
              </h2>
            </div>
            <div>
              <p>
                Bookings:<br> 07887781089 or
                07760242729
              </p>
              <br>
              <p>
                Out of hours only: <br> 07707889868
              </p>
            </div>
          </div>

        </div>
      </div>
    </div><footer>
      <div class="footerlinkswrapper">
        <a class="footerlinks" href="/">Home</a>
        <a class="footerlinks" href="/prices">Prices</a>
        <a class="footerlinks" href="/bookings">Booking</a>
        <a class="footerlinks" href="/f-a-q">FAQ</a>
        <a class="footerlinks" href="/contact-us">Contact Us</a>
        <a class="footerlinks" href="/about-us">About Us</a>

      </div>
      <div class="facebookicon">
        <a href="https://www.facebook.com/HighFlyersUKCourier">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
      <div class="copyright"><p id="copyright"
          style="margin: 0px; padding: 0px;">© High Flyers UK Couriers</p></div>
      <a class="login" href="/loginpage">Login</a>

    </footer>
    <script type="text/javascript" src="/js/MobileNavigationBar.js"></script>
    <script type="text/javascript" src="/js/NewContactUs.js"></script>
  </body>
</html>
