
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js"
      crossorigin="anonymous"></script>
    <title>HighFlyersUkCouriers</title>
    <script type="module" crossorigin src="./assets/DeleteOrder-CX00G8rx.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
    <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-Bai5Djro.js">
    <link rel="modulepreload" crossorigin href="./assets/Firebase-B1NfRp5U.js">
    <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
    <link rel="modulepreload" crossorigin href="./assets/FormModel-N7xmkChK.js">
    <link rel="stylesheet" crossorigin href="./assets/Navbar-CThckUIN.css">
    <link rel="stylesheet" crossorigin href="./assets/DeleteOrder-qakcDEEo.css">
    <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-CBkRRVDQ.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav id="menu">
          <a class="navLinks" href="/manage-orders">Back</a>
        </nav>
      </header>
      <div id="maincontent">
        <div class="form">
          <table id="orderdata">
   
          </table>
        </div>
        <form id="form" action="/delete-order" method="post">
          <div class="formItem">
            Are you sure you want to delete this order?
          </div>
          <div class="formItem">
            <input type="submit" value="Yes">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
