<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrJDwcnDimqAZ5BZAwk7q9Iw-YE6-A9yY&libraries=places&v=weekly" defer></script>
        <title>HighFlyersUKCourier</title>
      <script type="module" crossorigin src="./assets/DriverRuns-D-MYEASl.js"></script>
      <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
      <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-Bai5Djro.js">
      <link rel="modulepreload" crossorigin href="./assets/Firebase-B1NfRp5U.js">
      <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
      <link rel="modulepreload" crossorigin href="./assets/AddressAutocomplete-BlkJuFwu.js">
      <link rel="stylesheet" crossorigin href="./assets/DriverRuns-C1OwMEWc.css">
    </head>
    <body>

        <header>
            
        </header>

        <div id="main_content" class="mainContent">

            <div id="driver_runs_list"></div>

            <div id="run_stops_list_container" class="runStopsListContainer hidden">

                <div id="close_run_stops_list_button" class="closeButton">x</div>

                <div id="run_stops_list" class="runStopsList"></div>

            </div>

            

        </div>

    </body>
</html>
    