<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js"
      crossorigin="anonymous"></script>
    <title>HighFlyersUkCouriers</title>
    <script type="module" crossorigin src="./assets/EditOrders-C0EnAg1P.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
    <link rel="modulepreload" crossorigin href="./assets/index-dfc2d82f-B1C6gsaD.js">
    <link rel="modulepreload" crossorigin href="./assets/Firebase-BO2m8rLx.js">
    <link rel="stylesheet" crossorigin href="./assets/EditOrders-DZ3lcUZ-.css">
    <link rel="stylesheet" crossorigin href="./assets/Navbar-ClBKpNFz.css">
    <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-CQwji1kb.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav id="menu">
          <a class="navLinks" href="/manage-orders">Back</a>
        </nav>
      </header>
      <div id="maincontent">

        <form action="/edit-order" method="post">
          <div class="form">
            <table id="orderdata">
             
            </table>
          </div>
          <div id="savebuttonwrapper">
            <input type="submit" value="Save">
          </div>
        </form>

      </div>
    </div>

  </body>
</html>
