<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dce6efa4ea.js"
      crossorigin="anonymous"></script>
    <title>HighFlyersUkCouriers</title>
    <script type="module" crossorigin src="./assets/EditOrders-Kxi_414I.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
    <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-Bai5Djro.js">
    <link rel="modulepreload" crossorigin href="./assets/Firebase-Ch2nqCbG.js">
    <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
    <link rel="modulepreload" crossorigin href="./assets/FormModel-EIvxtSgd.js">
    <link rel="stylesheet" crossorigin href="./assets/EditOrders-BNIKbD84.css">
    <link rel="stylesheet" crossorigin href="./assets/Navbar-CThckUIN.css">
    <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-CBkRRVDQ.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav id="menu">
          <a class="navLinks" href="/manage-orders">Back</a>
        </nav>
      </header>
      <div id="maincontent">

        <form id="edit_order_form" action="/edit-order" method="post">
          <div class="form">
            <table id="orderdata">
             
            </table>
          </div>
          <div id="" class="saveButtonWrapper">
            <input id="save_button" class="saveButton" type="button" value="Save">
          </div>
        </form>

      </div>
    </div>

  </body>
</html>
