<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />      
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=delete,add" />
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" /> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

        <title>HighFlyersUkCouriers</title>
      <script type="module" crossorigin src="./assets/Finance-VgDmDF-P.js"></script>
      <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
      <link rel="modulepreload" crossorigin href="./assets/MobileNavigationBar-DV7LXJHe.js">
      <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-uh53AB8t.js">
      <link rel="modulepreload" crossorigin href="./assets/Firebase-DyecEuSY.js">
      <link rel="modulepreload" crossorigin href="./assets/Logout-DJmn8l82.js">
      <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
      <link rel="stylesheet" crossorigin href="./assets/Finance-Dqd8nuUz.css">
      <link rel="stylesheet" crossorigin href="./assets/Navbar-CThckUIN.css">
      <link rel="stylesheet" crossorigin href="./assets/Notification-DKseFP09.css">
      <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-CBkRRVDQ.css">
    </head>
    <body>
        <header>
            <div id="mobilenavmenu" class="hideMobileMenu">
                <div id="mobilenavwrapper">
                    
                    <div id="closemobilenavmenu">
                        <p id="closenavtext">close</p><p>X</p>
                    </div>
                    <a class="logoutButton">Logout</a>
                    <a href="/manage-orders">Bookings</a>
                    <a href="/content-manager">Content Manager</a>
                    <a href="/manage-accounts">Accounts</a>
                    <a class="currentpage" href="/system-settings">System Settings</a>
                    <a href="/live-logistics-manager">Live Logistics</a>
                    <a href="/shipments-logistics-manager">Shipments Logistics</a>
                    <a href="/logistics-settings">Logistics Settings</a>
                    <a href="/label-runs">Label Runs</a>
                    <a href="/finance">Finance</a>

                </div>
            </div>
            <nav id="menu">
                <div id="mobilenavtoggle">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <a class="navLinks logoutButton">Logout</a>
                <a class="navLinks" href="/manage-orders">Bookings</a>
                <a class="navLinks adminLink" href="/content-manager">Content Manager</a>
                <a class="navLinks adminLink" href="/manage-accounts">Accounts</a>
                <a class="navLinks adminLink" href="/system-settings">System Settings</a>
                <a class="navLinks adminLink" href="/live-logistics-manager">Logistics</a>
                <a class="navLinks adminLink" href="/label-runs">Label Runs</a>
                <a class="navLinks adminLink" href="/finance">Finance</a>

            </nav>
        </header>

        <div class="mainContent">

            <div id="floating_options_menu" class="floatingOptionsMenu">
                <div id="delete_options_menu_button" class="menuItem">
                    <span class="material-symbols-outlined">delete</span>
                </div>
                <div id="add_options_menu_button" class="menuItem">
                    <span class="material-symbols-outlined">add</span>
                </div>
            </div>

            <h1 class="pageTitle">Finance</h1>

            <div>
                <button id="generate_invoice_button">Generate Invoice</button>
            </div>

            <div id="" class="invoiceGeneratorWrapper">

                <div id="invoice_form_wrapper" class="invoiceWrapper invoiceFormWrapper">

                    <div id="invoice_form" class="invoice">
                        
                        <div class="margin-bottom-20px">
                            <h2>Highflyers U.K. Couriers</h2>
                            <p>Unit 2, Thomas Street</p>
                            <p>Congleton, CW12 1QU</p>
                            <p>07887781089</p>
                        </div>
                        
                        <h1>Invoice</h1>

                        <div class="row margin-bottom-20px submittedOnWrapper">
                            <h3>Submitted on &nbsp;</h3>
                            <h3 id="submitted_on_date" contenteditable data-placeholder="Submission date...">20.11.2025</h3>
                        </div>

                        <div class="row spaceBetween margin-bottom-20px">

                            <div class="metadataGroup" id="invoice_for_wrapper">
                                <h4 class="metadataTitle">Invoice for</h4>
                                <p id="name" contenteditable data-placeholder="Name..."></p>
                                <p id="address_line_1" contenteditable data-placeholder="Address Line 1..."></p>
                                <p id="address_line_2" contenteditable data-placeholder="Address Line 2..."></p>
                                <p id="address_line_3" contenteditable data-placeholder="Address Line 3..."></p>
                                <p id="postcode" contenteditable data-placeholder="Postcode..."></p>
                                <p id="phonenumber" contenteditable data-placeholder="Phonenumber..."></p>
                                <p id="email" contenteditable data-placeholder="Email..."></p>
                            </div>

                            <div class="metadataGroup" id="payable_to_wrapper">
                                <h4 class="metadataTitle">Payable to</h4>
                                <p contenteditable data-placeholder="Name...">Kevin Brough</p>
                                <p contenteditable data-placeholder="Company...">Highflyers U.K. Couriers</p>
                            </div>

                            <div>

                                <div class="metadataGroup" id="invoice_metadata_wrapper">
                                    <h4 class="metadataTitle">Invoice #</h4>
                                    <p id="reference" contenteditable data-placeholder="Reference...">HF0051 - 84 Week 46 &nbsp;</p>                     
                                </div>

                                <div class="metadataGroup">
                                    <h4 class="metadataTitle">Date</h4>
                                    <p id="creation_date" class="" contenteditable data-placeholder="Creation date...">11/11/2025</p>
                                </div>

                            </div>

                        </div>

                        <hr>

                        <table class="invoiceDetailsTable">

                            <colgroup>
                                <col class="descriptionCol">
                                <col class="qtyCol">
                                <col class="unitPriceCol">
                                <col class="totalPriceCol">
                            </colgroup>

                            <tr class="headerRow"> 

                                <th>Description</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>

                            </tr>

                            <tbody id="invoice_orders_table">
                            </tbody>
                        
                        </table>
    

                    
                        <div id="add_invoice_order_button" class="addInvoiceOrderButton">
                            <span class="material-symbols-outlined addOrderIcon">add</span>
                        </div>
                            

                        <table class="invoiceMetaDataTable">

                            <colgroup>
                                <col class="descriptionCol">
                                <col class="qtyCol">
                                <col class="unitPriceCol">
                                <col class="totalPriceCol">
                            </colgroup>

                            <tbody>

                                <tr>

                                    <td class="leftPaddingExempt">
                                        <div>
                                            <p>Notes:</p>
                                            <p id="invoice_notes"></p>
                                        </div>
                                    </td>   
                                    <td></td>
                                    <td>
                                        <p class="orderLabel">Total</p>
                                    </td>
                                    <td>
                                        <div class="metadataLabel">
                                            <h3 class="total">£</h3>
                                            <h3 id="total" class="total">
                                                0
                                            </h3>
                                        </div>
                                      
                                    </td>
                                    <!-- <td>
                                        <p class="orderLabel">Subtotal</p>
                                    </td>
                                    <td>   
                                        <div class="metadataLabel">
                                            <h4 class="poundSymbol">£</h4>
                                            <h4 id="subtotal">0</h4>                                          
                                        </div>
                                    </td> -->

                                </tr>

                                <!-- <tr>

                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p class="orderLabel">Adjustments</p>
                                    </td>
                                    <td >
                                        <div class="metadataLabel">
                                            <h4 class="poundSymbol">£</h4>
                                            <h4 id="adjustments">0</h4>    
                                        </div>
                                    </td>

                                </tr>

                                <tr>

                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p class="orderLabel">Total</p>
                                    </td>
                                    <td>
                                        <div class="metadataLabel">
                                            <h3 class="total">£</h3>
                                            <h3 id="total" class="total">
                                                0
                                            </h3>
                                        </div>
                                      
                                    </td>

                                </tr> -->

                            </tbody>

                        </table>

                        <textarea name="" id="" class="activeInput activeTextAreaInput"></textarea>

                    </div>

                </div>

                <div id="invoice_preview_wrapper" class="invoiceWrapper invoicePreviewWrapper">
                    <div id="invoice_preview" class="invoice">

                    </div>
                </div>

            </div>

        </div>

    </body>
</html>