<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script>

        <title>HighFlyersUkCouriers</title>
        <script type="module" src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js" ></script> 

        <!-- <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>  -->
        <!-- <script type="module" src="/js/Firebase.js" defer></script> -->

      <script type="module" crossorigin src="./assets/LoginPage-CLhd36d3.js"></script>
      <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
      <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-CO_jqFWO.js">
      <link rel="stylesheet" crossorigin href="./assets/LoginPage-XeaYg_Vy.css">
      <link rel="stylesheet" crossorigin href="./assets/Footer-Co0a3HEz.css">
      <link rel="stylesheet" crossorigin href="./assets/Navbar-ClBKpNFz.css">
    </head>
    <body>
       
        <form id="loginForm" action="loginpage" method="post">               
            <h2 id="login-heading">Login</h2>
            <div class="form-input">
                <label for="username">Username</label>
                <br>
                <input id="username" class="form-input-text" id="username" name="username" type="text" placeholder="Username" size="33" maxlength="32" tabindex="1">
                <br><br>
            </div>
            <div class="form-input" id="password-input">
                <label for="password">Password</label>
                <br>
                <input id="password" name="password" type="password" placeholder="Password" size="30"  size="33" maxlength="32" tabindex="2">
            </div>
            <div id="loginButtonWrapper" class="form-input">
                <input id="loginButton" class="form-input-button" type="button" value="Login">
                <div id="loader" class="loader"></div>
            </div>     
        </form>
     
    </body>
   
</html>

