<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=warning" />

    <title>HighFlyersUkCouriers</title>

  <script type="module" crossorigin src="./assets/LogisticsSettings-CtPp5ZD_.js"></script>
  <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
  <link rel="modulepreload" crossorigin href="./assets/index-dfc2d82f-B1C6gsaD.js">
  <link rel="modulepreload" crossorigin href="./assets/Firebase-DsAbI0c_.js">
  <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
  <link rel="modulepreload" crossorigin href="./assets/MobileNavigationBar-DV7LXJHe.js">
  <link rel="stylesheet" crossorigin href="./assets/LogisticsSettings-FSW5sSU2.css">
  <link rel="stylesheet" crossorigin href="./assets/Navbar-ClBKpNFz.css">
  <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-DTOtsrKl.css">
  <link rel="stylesheet" crossorigin href="./assets/ManageLogistics-Dem43p4b.css">
  <link rel="stylesheet" crossorigin href="./assets/Notification-Dc-SLGK6.css">
</head>
<body>
    <header>
        <div id="mobilenavmenu"  class="hideMobileMenu">
          <div id="mobilenavwrapper">
            <div id="closemobilenavmenu"><p id="closenavtext">close</p><p>X</p></div>
              <a class="logoutButton">Logout</a>
              <a href="/manage-orders">Bookings</a>
              <a href="/content-manager">Content Manager</a>
              <a href="/manage-accounts">Accounts</a>
              <a href="/system-settings">System Settings</a>
              <a href="/live-logistics-manager">Live Logistics</a>
              <a href="/shipments-logistics-manager">Shipments Logistics</a>
              <a class="currentpage" href="/logistics-settings">Logistics Settings</a>

          </div>
        </div>
        <nav id="menu">
          <div id="mobilenavtoggle">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a class="navLinks logoutButton">Logout</a>
          <a class="navLinks" href="/manage-orders">Bookings</a>
          <a class="navLinks" href="/content-manager">Content Manager</a>
          <a class="navLinks" href="/manage-accounts">Accounts</a>
          <a class="navLinks" href="/system-settings">System Settings</a>
          <a class="navLinks" href="/live-logistics-manager">Logistics</a>
        </nav>
    </header>
    
    <Section id="navbarMainContentWrapper">
        <nav class="logisticsVerticalNavbar">
            <a class="verticalNavbarLink" href="/live-logistics-manager">
                <span id="liveLogisticsManagerButton" class="material-symbols-outlined navbarIcon">
                    share_location
                </span>
            </a>
            <a class="verticalNavbarLink" href="/shipments-logistics-manager">
                <span id="shipmentLogisticsManagerButton" class="material-symbols-outlined navbarIcon" >
                    package_2
                </span>
            </a>
            <span id="liveLogisticsManagerButton" class="material-symbols-outlined navbarIcon selectedIconColour">
                settings
            </span>
          </a>
        </nav>
        <div class="maincontent">

          <h1 class="title">Settings</h1>

          <section class="fuelsettingswrapper">

            <h2 class="title">Fuel Settings</h2>
            <div class="subsection">

              <div class="titledinputwrapper">

                <label class="inputlable" for="fuelcostinput">Fuel Price</label>
                <div class="fuelcostinputwrapper">
                  <input id="fuel_cost_input" class="fuelCostInput numberInput" name="fuelcostinput" type="number">
                  <p class="pence">p</p>
                </div>

              </div>


              <div class="titledinputwrapper">

                <label class="inputlable" for="milespergalloninput">Miles Per Gallon</label>
                <div class="fuelcostinputwrapper">
                  <input id="mile_per_gallon_input" class="milesPerGallonInput numberInput" name="milespergalloninput" type="number">
                  <p class="pence">mpg</p>
                </div>

              </div>

              <button id="update_fuel_settings_button" class="updateButton hidden">Update</button>

            </div>

          </section>

          <section class="fuelsettingswrapper">

            <h2 class="title">Stop Settings</h2>
            <div class="subsection">

              <div class="titledinputwrapper">

                <label class="inputlable" for="stop_duration_input">Stop Duration </label>
                <div class="fuelcostinputwrapper">
                  <input id="stop_duration_input" class="fuelCostInput numberInput" name="stop_duration_input" type="number">
                  <p class="pence">s</p>
                </div>

              </div>


              <div class="titledinputwrapper">

                <label class="inputlable" for="additional_stop_duration_input">Additonal Stop Duration </label>
                <div class="fuelcostinputwrapper">
                  <input id="additional_stop_duration_input" class="fuelCostInput numberInput" name="additional_stop_duration_input" type="number">
                  <p class="pence">s</p>
                </div>

              </div>

              <button id="update_stop_duration_button" class="updateButton hidden">Update</button>

            </div>

          </section>

          <section class="rundefinitionswrapper">
            <h2 class="title">Run Settings</h2>
          
            <div class="subsection">

              <h3>Run Defaults</h3>

              <div id="run_defaults_wrapper" class="cardWrapper">
                
              </div>

              <h3>Run Definitions</h3>

              <div id="run_definitions_wrapper" class="cardWrapper">

              </div>

              <h3>Postcode Exceptions</h3>

              <div id="postcode_exceptions_wrapper" class="cardWrapper">

              </div>

            </div>

          </section>
        </div>
    </Section>
    
</body>
</html>