<html>
    <head>
    <style>
   
    </style>
    </head>
    <body>
        <table>
            <thead>
            <tr class="headerrow">
                <th>Animal Type</th>
                <th>Quantity</th>
                <th>Email</th>
                <th>Collection Name</th>
                <th>Collection Address</th>
                <th>Collection Phone Number</th>
                <th>Delivery Name</th>
                <th>Delivery Address</th>
                <th>Delivery Phone Number</th>
                <th>Payment</th>
                <th>Message</th>
            </tr>
            </thead>

            <tbody>
                <td>Animal Type</td>
                <td>Quantity</td>
                <td>Email</td>
                <td>Collection Name</td>
                <td>Collection Address</td>
                <td>Collection Phone Number</td>
                <td>Delivery Name</td>
                <td>Delivery Address</td>
                <td>Delivery Phone Number</td>
                <td>Payment</td>
                <td>Message</td>

            </tbody>
        </table>
    </body>
</html>
