<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script><link rel="stylesheet" href="/HighFlyersUkCouriers/public/css/PrintableForm.css" type="text/css"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Times New Roman" id="TimesNew Roman"></head><body><div class="page">
            <h1>
                High Flyers
            </h1>
            <h2 class="" contenteditable="false">phone: 07887 781089
            </h2>
            <div class="formwrapper">
                <div class="wrapper">
                    <h3>
                        Pick up from:
                    </h3>
                    <div class="infowrapper">
                    
                        <label>Name:</label>
                        <p class="ordername" contenteditable="false">John Smith</p>
                    
                        <label>Address:</label>
                        <address>
                            <p>10 Kenilworth Road</p>
                            <p>Ripley</p>
                            <p class="" contenteditable="false">Derbyshire</p>
                            <p class="" contenteditable="false">DE5 3GY</p>
                        </address>
                        
                    
                        <label>Telephone:</label>
                        <p></p>
                        
                    </div>
                </div>       
                <div class="wrapper">
                    <h3>
                        Deliver to:
                    </h3>
                    <div class="infowrapper">
                        
                        <label>Name:</label>
                        <p class="ordername">John Smith</p>
                    
                        <label>Address:</label>
                        <address>
                            <p>10 Kenilworth Road</p>
                            <p>Ripley</p>
                            <p>Derbyshire</p>
                            <p>DE5 3GY</p>
                        </address>
                        
                    
                        <label>Telephone:</label>
                        <p class="orderdeliverytelephone"></p>
                    
                    </div>
                </div>    
            </div>
        </div><div class="page">
            <h1>
                High Flyers
            </h1>
            <h2>
                Telephone: 07887 781089
            </h2>
            <div class="formwrapper">
                <div class="wrapper">
                    <h3>
                        Pick up from:
                    </h3>
                    <div class="infowrapper">
                    
                        <label>Name:</label>
                        <p class="ordername">John Smith</p>
                    
                        <label>Address:</label>
                        <address>
                            <p>10 Kenilworth Road</p>
                            <p>Ripley</p>
                            <p>Derbyshire</p>
                            <p>DE5 3GY</p>
                        </address>
                        
                    
                        <label>Telephone:</label>
                        <p></p>
                        
                    </div>
                </div>
                <div class="wrapper">
                    <h3>
                        Deliver to:
                    </h3>
                    <div class="infowrapper">
                        
                        <label>Name:</label>
                        <p class="ordername">John Smith</p>
                    
                        <label>Address:</label>
                        <address>
                            <p>10 Kenilworth Road</p>
                            <p>Ripley</p>
                            <p>Derbyshire</p>
                            <p>DE5 3GY</p>
                        </address>
                        
                    
                        <label>Telephone:</label>
                        <p class="orderdeliverytelephone"></p>
                    
                    </div>
                </div>    
            </div>
        </div></body></html>