<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script>
          

        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


        <title>HighFlyersUkCouriers</title>
      <script type="module" crossorigin src="./assets/ShipmentsLogisticsManager-BNcpzk2-.js"></script>
      <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
      <link rel="modulepreload" crossorigin href="./assets/AddressAutocomplete-CkD3A38D.js">
      <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-uh53AB8t.js">
      <link rel="modulepreload" crossorigin href="./assets/Firebase-CCEIZed7.js">
      <link rel="modulepreload" crossorigin href="./assets/Logout-DGqcOxbm.js">
      <link rel="modulepreload" crossorigin href="./assets/MobileNavigationBar-DV7LXJHe.js">
      <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
      <link rel="stylesheet" crossorigin href="./assets/AddressAutocomplete-DluMj-8M.css">
      <link rel="stylesheet" crossorigin href="./assets/ShipmentsLogisticsManager-Bed_o56C.css">
      <link rel="stylesheet" crossorigin href="./assets/Navbar-CThckUIN.css">
      <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-CBkRRVDQ.css">
      <link rel="stylesheet" crossorigin href="./assets/ManageLogistics-Dem43p4b.css">
      <link rel="stylesheet" crossorigin href="./assets/Notification-DKseFP09.css">
    </head>
    <body>
  
      <header>
        <div id="mobilenavmenu"  class="hideMobileMenu">
          <div id="mobilenavwrapper">
            <div id="closemobilenavmenu"><p id="closenavtext">close</p><p>X</p></div>

              <a class="logoutButton">Logout</a>
              <a href="/manage-orders">Bookings</a>
              <a href="/content-manager">Content Manager</a>
              <a href="/manage-accounts">Accounts</a>
              <a href="/system-settings">System Settings</a>
              <a href="/live-logistics-manager">Live Logistics</a>
              <a class="currentpage" href="/shipments-logistics-manager">Shipments Logistics</a>
              <a href="/logistics-settings">Logistics Settings</a>
              <a href="/label-runs">Label Runs</a>
              <a href="/finance">Finance</a>
             
          </div>
        </div>
        <nav id="menu">
          <div id="mobilenavtoggle">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a class="navLinks logoutButton">Logout</a>
          <a class="navLinks" href="/manage-orders">Bookings</a>
          <a class="navLinks" href="/content-manager">Content Manager</a>
          <a class="navLinks" href="/manage-accounts">Accounts</a>
          <a class="navLinks" href="/system-settings">System Settings</a>
          <a class="navLinks" href="/live-logistics-manager">Logistics</a>
          <a class="navLinks" href="/label-runs">Label Runs</a>
          <a class="navLinks adminLink" href="/finance">Finance</a>

        </nav>
    
      </header>
      <Section id="navbarMainContentWrapper">

        <div id="create_shipment_widget" class="widget hidden">

          <h1>Create New Shipment</h1>

          <div class="createShipmentContentWrapper">

            <div class="flex-col">
              <label for="shipment_name">Shipment Name</label>
              <input class="shipmentWidgetInput" type="text" name="shipment_name" id="shipment_name">
            </div>

            <div class="flex-col">
              <label for="shipment_delivery_week">Week</label>
              <input class="shipmentWidgetInput" type="number" name="shipment_delivery_week" id="shipment_delivery_week">
            </div>
            
            <div class="flex-col">
              <label for="shipment_run_type">Run Type:</label>
              <select type="text" name="shipment_run_type" id="shipment_run_type">
                <option value="collection">Collection</option>
                <option value="delivery">Delivery</option>
              </select>
            </div>

          </div>

          <div>

            <button id="cancel_create_shipment" class="widgetButton">Cancel</button>
            <button id="save_create_shipment" class="widgetButton">Save</button>
          
          </div>
        </div>


        <div id="delete_shipment_widget" class="widget hidden">

          <h1>Delete Shipment</h1>

          <div class="createShipmentContentWrapper">

            <label for="select_delete_shipment">Select shipment to delete:</label>
            <select type="text" name="select_delete_shipment" id="select_delete_shipment">
              <option selected value="default">-- select shipment to delete --</option>
            </select>

          </div>

          <div>

            <button id="cancel_delete_shipment" class="widgetButton">Cancel</button>
            <button id="confirm_delete_shipment" class="widgetButton">Confirm</button>
          
          </div>

        </div>


        <div id="assign_stops_widget" class="assignStopsWidget widget hidden">

          <h2>Assign Stops</h2>

          <select name="" id="select_assign_stops_run">
            <option value="">awdawd</option>
          </select>
          
          <div>

            <button id="cancel_assign_stops_button" class="widgetButton">Cancel</button>
            <button id="assign_stops_widget_button" class="widgetButton">Assign Stops</button>

          </div>
          
        </div>


        <div id="add_stops_widget" class="addStopsWidget widget hidden">

          <h2>Add Stops</h2>

          <select name="" id="select_add_stops_run">

            <option value="collection">Collection</option>
            <option value="delivery">Delivery</option>

          </select>

             
          <div>

            <button id="cancel_add_stops_button" class="widgetButton">Cancel</button>
            <button id="add_stops_widget_button" class="widgetButton">Add Stops</button>

          </div>

        </div>


        <div id="remove_stops_widget" class="removeStopsWidget widget hidden">

          <h2>Remove stops</h2>

          <div>

            <button id="cancel_remove_stops_button" class="widgetButton">Cancel</button>
            <button id="remove_stops_widget_button" class="widgetButton">Remove Stops</button>

          </div>

        </div>


        <div id="add_run_widget" class="removeStopsWidget widget hidden">

          <h2>Add Run</h2>

          <input id="add_run_name_input" type="text">

          <div>

            <button id="cancel_add_run_button" class="widgetButton">Cancel</button>
            <button id="add_run_widget_button" class="widgetButton">Add Run</button>

          </div>

        </div>


        <div id="remove_run_widget" class="removeStopsWidget widget hidden">

          <h2>Remove Run</h2>


          <div>

            <button id="cancel_remove_run_button" class="widgetButton">Cancel</button>
            <button id="add_remove_widget_button" class="widgetButton">Add Run</button>

          </div>

        </div>


        <div id="validate_address_widget" class="validateAddressWidget widget hidden">

          <div id="validate_address_form" class="validateAddressForm">

            <h2>Find Address</h2>

            <label for="validate_address_autocomplete_input">Search for an address: </label>
            <input id="validate_address_autocomplete_input" type="text" placeholder="Search for a place..." />

            <div id="autocomplete_results_anchor" class="hidden">

              <div id="autocomplete_results" class="autocompleteResultsWrapper">

                <div id="autocomplete_loader" class="loader hidden"></div>      

              </div>

            </div>

            <label for="validate_address_line_1">Address Line 1: </label>
            <input id="validate_address_line_1" type="text"/>

            <label for="validate_address_line_2">Address Line 2:  </label>
            <input id="validate_address_line_2" type="text"/>

            <label for="validate_address_line_3">Address Line 3:  </label>
            <input id="validate_address_line_3" type="text"/>

            <label for="validate_address_postcode">Postcode </label>
            <input id="validate_address_postcode" type="text"/>

            <button id="validate_address_button" class="widgetButton validateAddressWidgetButton">Find Address</button>

            <div id="address_suggestion_wrapper" class="addressSuggestionWrapper">
              <!-- <div class="addressSuggestionCard"><p class="addressSuggestionNumber">1</p><div class="suggestionAddressWrapper"><p class="addressSuggestionStreetAddress">10 Kenilworth Road</p><div class="addressSuggestionSecondaryAddress"><p>Ripley,&nbsp;</p><p>Derbyshire,&nbsp;</p><p>DE5 3GY</p></div></div></div> -->
            </div>

            <div>

              <button id="cancel_validate_address_button" class="widgetButton">Cancel</button>
              <button id="confirm_update_address_button" class="widgetButton nonClickable">Update address</button>

            </div>

          </div>
          
          <div id="validate_address_map" class="validateAddressMap">
          </div>
          
        </div>

        <nav class="logisticsVerticalNavbar">
          <a class="verticalNavbarLink" href="/live-logistics-manager">
              <span id="liveLogisticsManagerButton" class="material-symbols-outlined navbarIcon">
              share_location
              </span>
          </a>
          <span id="shipmentLogisticsManagerButton" class="material-symbols-outlined navbarIcon selectedIconColour">
            package_2
          </span>
          <a class="verticalNavbarLink" href="/runs-logistics-manager">
            <span id="runsLogisticsManagerButton" class="material-symbols-outlined navbarIcon">
              table_chart_view
            </span>
          </a>
          <a class="verticalNavbarLink" href="/logistics-settings">
            <span id="liveLogisticsManagerButton" class="material-symbols-outlined navbarIcon">
            settings
            </span>
          </a>
        </nav>

        <Section class="mainContent">
          <Section class="shipmentsLogisticsManagerWrapper">
            <Section class="shipmentsWindow">

              <h1 class="windowTitle">Shipments</h1>

              <div class="selectWrapper">

                <label for="select_shipment" hidden="hidden">Shipment</label>
                <select id="select_shipment" class="selectShipment" name="select_shipment">
                       
                </select>

                <span class="material-symbols-rounded dropDownIcon">
                  arrow_drop_down_circle
                </span>

              </div>

            
              <div id="add_stop_button_wrapper">
                
              
              </div>  

              <div id="unassigned_orders_card_wrapper">
                
              
              </div>   
              
              <div id="runCardList" class="runCardList">

            
              </div> 

            </Section>
              <Section id="dependant_content" class="dependantContent">

                <div id="unassigned_orders_details" class="runDetailsContainer stopsTable hidden">

                  <span id="back_arrow_unassigned_orders_table" class="backArrow material-symbols-outlined">
                    arrow_back
                  </span>

                  <h1>Unassigned Stops</h1>

                  <div class="runDetails">

                    <div class="tableActionContainer">

                      <div class="orderFiltersContainer">

                        <input id="unassigned_order_search_input" type="text" class="addOrderSearchInput" placeholder="Search value">

                        <select name="" id="unassigned_order_search_filter" class="selectOption">

                          <option value="ID">ID</option>
                          <option value="animalType">Animal Type</option>
                          <option value="quantity">Quantity</option>
                          <option value="email">Email</option>
                          <option value="account">Account</option>
                          <option value="deliveryWeek">Delivery Week</option>
                          <option value="collectionPhoneNumber">Phone Number</option>
                          <option value="collectionName">Collection Name</option>
                          <option value="collectionAddress1">Collection Address 1</option>
                          <option value="collectionAddress2">Collection Address 2</option>
                          <option value="collectionAddress3">Collection Address 3</option>
                          <option value="collectionPostcode">Collection Postcode</option>
                          <option value="deliveryName">Delivery Name</option>
                          <option value="deliveryAddress1">Delivery Address 1</option>
                          <option value="deliveryAddress2">Delivery Address 2</option>
                          <option value="deliveryAddress3">Delivery Address 3</option>
                          <option value="deliveryPostcode">Delivery Postcode</option>
                          <option value="deliveryPhoneNumber">Delivery Phone Number</option>
                          <option value="payment">Payment</option>
                          <option value="message">Message</option>
                          <option value="code">Code</option>
                          <option value="addedBy">Added By</option>
                          <option value="printed">Printed</option>

                        </select>

                        <button id="" class="selectAddButton filterButton">Search</button>
                        <button id="remove_stop_button" class="removeStopButton filterButton">Remove Stop(s)</button>

                      </div>

                      <div class="stopButtonsContainer">

                        <button id="assign_stop_button" class="assignStopButton filterButton">Assign Stop(s)</button>

                      </div>

                    </div>

                    <div class="tableContainer">

                      <table id="unassigned_order_table" class="orderTable">

                        <tbody class="tableHeaderContainer">

                          <tr class="headerRow">               
                            <th></th>
                            <th>ID</th>
                            <th>Animal</th>
                            <th>Quantity</th>
                            <th>Stop Type</th>
                            <th>Delivery Week</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Payment</th>
                            <th>Message</th>
                            <th>Code</th>
                            <th></th>
                            <th class="tableRowBackground"></th>
                          </tr>

                        </tbody>

                        <tbody id="unassigned_orders_table_body" class="tableBody">

                          <tr></tr>
                          <tr></tr>
                          <tr></tr>

                        </tbody>
                      </table>

                    </div>
                  
                  </div>

                </div>

                <div id="add_run_details" class="runDetails stopsTable hidden">

                  <span id="back_arrow_add_runs_table" class="backArrow material-symbols-outlined">
                    arrow_back
                  </span>
                  <h1>Add Stops</h1>

                    <div class="tableActionContainer">

                      <div class="orderFiltersContainer">

                        <input id="add_order_search_input" type="text" class="addOrderSearchInput" placeholder="Search value">

                        <select name="" id="add_order_search_filter" class="selectOption">

                          <option value="ID">ID</option>
                          <option value="animalType">Animal Type</option>
                          <option value="quantity">Quantity</option>
                          <option value="email">Email</option>
                          <option value="account">Account</option>
                          <option value="deliveryWeek">Delivery Week</option>
                          <option value="collectionPhoneNumber">Phone Number</option>
                          <option value="collectionName">Collection Name</option>
                          <option value="collectionAddress1">Collection Address 1</option>
                          <option value="collectionAddress2">Collection Address 2</option>
                          <option value="collectionAddress3">Collection Address 3</option>
                          <option value="collectionPostcode">Collection Postcode</option>
                          <option value="deliveryName">Delivery Name</option>
                          <option value="deliveryAddress1">Delivery Address 1</option>
                          <option value="deliveryAddress2">Delivery Address 2</option>
                          <option value="deliveryAddress3">Delivery Address 3</option>
                          <option value="deliveryPostcode">Delivery Postcode</option>
                          <option value="deliveryPhoneNumber">Delivery Phone Number</option>
                          <option value="payment">Payment</option>
                          <option value="message">Message</option>
                          <option value="code">Code</option>
                          <option value="addedBy">Added By</option>
                          <option value="printed">Printed</option>

                        </select>

                        <button id="search_button" class="selectAddButton filterButton">Search</button>

                      </div>

                      <div class="orderButtonsContainer">

                        <button id="add_stop_button" class="addOrderButton filterButton">Add Stop(s)</button>

                      </div>

                    </div>

                    <div class="tableContainer">

                      <table id="order_table" class="orderTable">

                        <tbody class="tableHeaderContainer">

                          <tr class="headerRow">               
                            <th></th>
                            <th>ID</th>
                            <th>Animal</th>
                            <th>Quantity</th>
                            <th>Account</th>
                            <th>Week</th>
                            <th>Collection Name</th>
                            <th>Collection Address</th>
                            <th>Collection Phone Number</th>
                            <th>Delivery Name</th>
                            <th>Delivery Address</th>
                            <th>Delivery Phone Number</th>
                            <th>Payment</th>
                            <th>Message</th>
                            <th>Code</th>
                            <th id="topright"></th>
                            <th class="tableRowBackground"></th>
                          </tr>

                        </tbody>

                        <tbody id="table_body" class="tableBody">

                          <tr></tr>
                          <tr></tr>
                          <tr></tr>

                        </tbody>
                      </table>

                    </div>

                </div>
              
                <div id="selected_run_view" class="runDetailsContainer hidden">
                  
                  <span id="back_arrow_selected_run_view" class="backArrow material-symbols-outlined">
                    arrow_back
                  </span>

                  <div id="run_info_wrapper" class="runDetailsWrapper">

                    <div id="run_tab_buttons_wrapper" class="runTabButtonWrapper">

                      <button id="manage_tab_button" class="runTabButton selectedTabButton">Manage</button>
                      <button id="option_tab_button" class="runTabButton">Options</button>

                    </div>
                  
                    <div id="run_stops_container" class="runStopsContainer">

            
                    </div>

                    <div id="run_options_container" class="runOptionsContainer hidden">

                      <div class="runProperties">

                        <div id="assigned_driver_text_wrapper" class="hidden">

                          <label for="select_assign_driver" class="bold">Assign Driver: </label>
                          <p id="assigned_driver_text"></p>

                        </div>
                        

                        <div id="select_assign_driver_wrapper" class="hidden">

                          <label for="select_assign_driver" class="bold">Assign Driver: </label>
                          <select name="select_assign_driver" id="select_assign_driver" class="selectOption">

                            <!-- <option value="opunuoien">Stephen</option>
                            <option value="pojjesPIOFJEI">Anne</option> -->
                                          
                          </select>

                        </div>

                         <div id="assigned_staff_text_wrapper" class="hidden">

                          <label for="select_assign_staff" class="bold">Assign Staff Member: </label>
                          <p id="assigned_staff_text"></p>

                        </div>

                        <div id="select_assign_staff_wrapper" class="hidden">

                          <label for="select_assign_driver" class="bold">Assign Staff Member: </label>
                          <select name="select_assign_staff" id="select_assign_staff" class="selectOption">

                            <!-- <option value="opunuoien">Stephen</option>
                            <option value="pojjesPIOFJEI">Anne</option> -->
                                          
                          </select>

                        </div>

                        <div class="splitRunWrapper">

                          <label for="split_run_select" class="bold">Split Run: </label>
                          <select name="split_run_select" id="split_run_select" class="selectOption">

                            <option value="" selected>Select split amount</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>

                        
                          </select>

                          <div id="split_run_settings_button" class="splitRunSettingsButton hidden">
                            <p>Split Run</p>
                            <span class="delete material-symbols-outlined">content_cut</span>
                          </div>

                        </div>

                        <div class="runPropertiesWrapper">

                          <h3>Origin Settings</h3>

                            <div class="runAddressPropertyWrapper">

                              <label for="run_origin_address_line_1">Address Line 1:  </label>
                              <input id= "run_origin_address_line_1" type="text"/>

                            </div>

                            <div class="runAddressPropertyWrapper">
                              
                              <label for="run_origin_address_line_2">Address Line 2:  </label>
                              <input id= "run_origin_address_line_2" type="text"/>
                              
                            </div>

                            <div class="runAddressPropertyWrapper">

                              <label for="run_origin_address_line_3">Address Line 3:  </label>
                              <input id= "run_origin_address_line_3" type="text"/>
                              
                            </div>

                            <div class="runAddressPropertyWrapper">

                              <label for="run_origin_postcode">Postcode:  </label>
                              <input id= "run_origin_postcode" type="text"/>
                              
                            </div>

                            <div class="runAddressPropertyWrapper">

                              <label for="run_origin_hour">Start hour:  </label>
                              <input id= "run_origin_hour" type="number" min="0" max="23"/>
                          
                            </div>

                            <div class="runAddressPropertyWrapper">

                              <label for="run_origin_minute">Start minute:  </label>
                              <input id= "run_origin_minute" type="number" min="0" max="59"/>
                              
                            </div>

                        </div>
                      
                        <div class="runPropertiesWrapper">
                      
                          <h3>Destination Settings</h3>

                          <div class="runAddressPropertyWrapper">

                            <label for="run_destination_address_line_1">Address Line 1:  </label>
                            <input id ="run_destination_address_line_1" type="text"/>

                          </div>  

                          <div class="runAddressPropertyWrapper">

                            <label for="run_destination_address_line_2">Address Line 2:  </label>
                            <input id= "run_destination_address_line_2" type="text"/>
                            
                          </div>

                          <div class="runAddressPropertyWrapper">

                            <label for="run_destination_address_line_3">Address Line 3:  </label>
                            <input id= "run_destination_address_line_3" type="text"/>
                            
                          </div>

                          <div class="runAddressPropertyWrapper">

                            <label for="run_destination_postcode">Postcode:  </label>
                            <input id= "run_destination_postcode" type="text"/>
                            
                          </div>                   

                        </div>

                      </div>

                      <div id="update_run_settings_button" class="updateRunSettingsButton">
                        <p>Update Settings</p>
                        <span class="delete material-symbols-outlined">sync</span>
                      </div>

                      <div id="calculate_route_button_wrapper">
                        <div id="calculate_route_button" class="calculateRouteButton">
                          
                          <p>Calculate Route</p>
                          <span class="material-symbols-outlined">
                            calculate
                          </span>

                        </div>
                      </div>

                      <div id="print_postcodes_button" class="printPostcodesButton">
                        <p>Print Postcodes</p>
                        <span class="delete material-symbols-outlined">print</span>
                      </div>

                      <div id="remove_run_button" class="removeRunButton">
                        <p>Remove Run</p>
                        <span class="delete material-symbols-outlined">delete</span>
                      </div>

                    </div>

                  </div>

                </div>

              </Section>

          </Section>
        

          <div id="map" class="hidden"></div>

        </Section>
      </Section>
    </body>

    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyC_Mgv99mzX9qXTw4DsI6_uYfECGzhopik", v: "beta"});</script>

</html>

