<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />



        <title>HighFlyersUkCouriers</title>
      <script type="module" crossorigin src="./assets/SystemSettings-CU1-Ivgf.js"></script>
      <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
      <link rel="modulepreload" crossorigin href="./assets/MobileNavigationBar-DV7LXJHe.js">
      <link rel="modulepreload" crossorigin href="./assets/index-35c79a8a-uh53AB8t.js">
      <link rel="modulepreload" crossorigin href="./assets/Firebase-DyecEuSY.js">
      <link rel="modulepreload" crossorigin href="./assets/Logout-DJmn8l82.js">
      <link rel="modulepreload" crossorigin href="./assets/Notification-CxUWC9Hr.js">
      <link rel="stylesheet" crossorigin href="./assets/SystemSettings-BhFnh2l3.css">
      <link rel="stylesheet" crossorigin href="./assets/Navbar-CThckUIN.css">
      <link rel="stylesheet" crossorigin href="./assets/Notification-DKseFP09.css">
      <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-CBkRRVDQ.css">
    </head>
    <body>
        <header>
            <div id="mobilenavmenu" class="hideMobileMenu">
                <div id="mobilenavwrapper">
                    
                    <div id="closemobilenavmenu">
                        <p id="closenavtext">close</p><p>X</p>
                    </div>
                    <a class="logoutButton">Logout</a>
                    <a href="/manage-orders">Bookings</a>
                    <a href="/content-manager">Content Manager</a>
                    <a href="/manage-accounts">Accounts</a>
                    <a class="currentpage" href="/system-settings">System Settings</a>
                    <a href="/live-logistics-manager">Live Logistics</a>
                    <a href="/shipments-logistics-manager">Shipments Logistics</a>
                    <a href="/logistics-settings">Logistics Settings</a>
                    <a href="/label-runs">Label Runs</a>
                    <a href="/finance">Finance</a>

                </div>
            </div>
            <nav id="menu">
                <div id="mobilenavtoggle">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <a class="navLinks logoutButton">Logout</a>
                <a class="navLinks" href="/manage-orders">Bookings</a>
                <a class="navLinks adminLink" href="/content-manager">Content Manager</a>
                <a class="navLinks adminLink" href="/manage-accounts">Accounts</a>
                <a class="navLinks adminLink" href="/system-settings">System Settings</a>
                <a class="navLinks adminLink" href="/live-logistics-manager">Logistics</a>
                <a class="navLinks adminLink" href="/label-runs">Label Runs</a>
                <a class="navLinks adminLink" href="/finance">Finance</a>
            </nav>
        </header>
        <div class="mainContent">

            <h1>System Settings</h1>
            <section>
                <h2>Bird Species</h2>
                <div id="bird_species_wrapper" class="subSection">
                    <!-- <h4>Pigeons - Young Birds</h4>
                    <p class="speciesDescription">Racing Pigeons, Roller Pigeons, Fancy Pigeons, Doves, Crows etc.</p> -->
                </div>
                
<!--                 
                <div class="addSpeciesButton">
                    <span class="addIcon material-symbols-outlined">add</span>
                </div> -->
                <h2>Price Postcode Definitions</h2>
                <div id="price_postcode_definition_wrapper" class="subSection"></div>
        
            </section>

        </div>
        
    </body>
</html>