
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/dce6efa4ea.js" crossorigin="anonymous"></script>  
        <title>{{ page_title }}</title>
      <script type="module" crossorigin src="./assets/ViewOrder-CUfM_mDt.js"></script>
      <link rel="modulepreload" crossorigin href="./assets/modulepreload-polyfill-B5Qt9EMX.js">
      <link rel="modulepreload" crossorigin href="./assets/index-dfc2d82f-9ZOO5N4z.js">
      <link rel="modulepreload" crossorigin href="./assets/Firebase-DnALzBam.js">
      <link rel="stylesheet" crossorigin href="./assets/Footer-Co0a3HEz.css">
      <link rel="stylesheet" crossorigin href="./assets/Navbar-_3NclZQX.css">
      <link rel="stylesheet" crossorigin href="./assets/DeleteOrder-qakcDEEo.css">
      <link rel="stylesheet" crossorigin href="./assets/MobileNavigationBar-BGA6MExJ.css">
    </head>
    <body>

      <div id="wrapper">
        <header>
          <nav id="menu">
            <a class="navLinks" href="/manage-orders">Back</a>
          </nav>
        </header>
        <div id="maincontent">
          <div class="form">
            <table id="orderdata">
              
            </table>
          </div>
        </div>
      </div>
    </body>
    <script type="text/javascript" src="/js/MobileNavigationBar.js"></script>
</html>

